<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="tipoLicencia.id">Editando Tipo de Licencia {{ tipoLicencia.nombre }}</span>
			<span ng-hide="tipoLicencia.id">Nueva TipoLicencia</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="tipoLicenciaForm" name="tipoLicenciaForm">
				
			<div class="form-group">
				<label for="tipoLicencia.nombre" class="control-label">Nombre:</label>
				<input type="text" class="form-control" ng-model="tipoLicencia.nombre" required/>
			</div>
			<div class="form-group">
				<label for="tipoLicencia.cantidad" class="control-label">Cantidad:</label>
				<input type="text" class="form-control" ng-model="tipoLicencia.cantidad" required only-integers/>
			</div>
			<div class="form-group">
				<label for="tipoLicencia.descripcion" class="control-label">Descripción:</label>
				<textarea class="form-control" ng-model="tipoLicencia.descripcion" required/>
			</div>
			<div class="form-group">
				<label for="tipoLicencia.descripcion" class="control-label">Código:</label>
				<textarea class="form-control" ng-model="tipoLicencia.codigo" required/>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="tipoLicencia.simbolo" class="control-label">Símbolo:</label>
						<input type="text" class="form-control" ng-model="tipoLicencia.simbolo" required/>
					</div>
					<div class="form-group">
						<label for="tipoLicencia.formulaAntiguedad" class="control-label">Fórmula de antigüedad:</label>
						<input type="text" class="form-control" ng-model="tipoLicencia.formulaAntiguedad"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="tipoLicencia.event_class" class="control-label">Clase de evento:</label>
						<input type="text" class="form-control" ng-model="tipoLicencia.event_class" required/>
					</div>
					<div class="form-group" style="margin-top: 45px;">
						<input type="checkbox" ng-model="tipoLicencia.acumulable" ng-true-value="1" ng-false-value="0"/>
						<label for="tipoLicencia.acumulable" class="control-label">Acumulable</label>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="tipoLicenciaForm.$invalid" >Guardar</button>
	</div>
</div>