<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="empleado.id">Editando {{ empleado.nombres }} {{ empleado.apellidos }}</span>
			<span ng-hide="empleado.id">Nuevo Empleado</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="empleadoForm" name="empleadoForm">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="nombres" class="control-label">Nombres:</label>
						<input type="text" class="form-control" ng-model="empleado.nombres" required/>
					</div>
					<div class="form-group">
						<label for="employee_id" class="control-label">Employee ID:</label>
						<input type="text" class="form-control" ng-model="empleado.employee_id" required/>
					</div>
					<div class="form-group">
						<label for="area" class="control-label">Nombre de login:</label>
						<input type="text" class="form-control" ng-model="usuario.login" required/>
					</div>
					<div class="form-group">
						<label for="area" class="control-label">E-mail:</label>
						<input type="email" class="form-control" ng-model="usuario.email" required/>
					</div>
					<div class="form-group">
						<label for="fechaIngreso" class="control-label">Fecha de ingreso:</label>
						<div class="input-group date">								
							<input 
								type="date" 
								class="form-control" 
								datepicker-popup ng-model="empleado.fechaIngreso" 
								is-open="status.opened" 
								datepicker-options="dateOptions" 
								ng-required="true" 
								close-text="Close" />
						</div>
					</div>
					<div class="form-group">
						<label for="area" class="control-label">Area:</label>
						<select 
							class="form-control"
							ng-options="area as area.nombre for area in areas track by area.id"
							ng-model="empleado.area"
							required>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="apellidos" class="control-label">Apellidos:</label>
						<input type="text" class="form-control" ng-model="empleado.apellidos" required/>
					</div>
					<div class="form-group">
						<label for="legajo" class="control-label">Legajo:</label>
						<input type="text" class="form-control" ng-model="empleado.legajo" required/>
					</div>
					<div class="form-group">
						<label for="area" class="control-label">Contraseña:</label>
						<input type="password" class="form-control" ng-model="usuario.password" required/>
					</div>
					<div class="form-group">
						<label for="antiguedad" class="control-label">Antiguedad:</label>
						<input type="text" class="form-control" ng-model="empleado.antiguedad" required only-integers/>
					</div>
					<div class="form-group">
						<div class="pull-left">
							<label for="jefe" class="control-label">Jefe:</label> <br/>
							{{ empleado.jefe.nombres }} {{ empleado.jefe.apellidos }}
						</div>
						<div class="pull-right">
							<a class="btn btn-default" ng-click="elegirJefe()">
								Elegir
							</a>
						</div>
					</div>
				</div>
			</div>
			

			<legend>Roles</legend>
			<div>
				<span 
					class="label label-success" 
					ng-repeat="ur in usuario.usuario_rol" 
					style="margin-right: 5px;">
					{{ ur.rol.nombre }} <a href="javascript:void(0);" ng-click="quitarRol(ur);">X</a>
				</span>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label for="selectedRol" class="control-label">Rol:</label>
				</div>
				<div class="col-md-6">
					<select 
						class="form-control"
						ng-options="rol as rol.nombre for rol in roles track by rol.id"
						ng-model="selectedRol">
					</select>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="agregarRol();">
						Agregar
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="empleadoForm.$invalid" >Guardar</button>
	</div>
</div>