<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			Condicion especial de {{ licencia.nombre }}, período {{ licencia.periodo.nombre }}
		</h4>
	</div>
	<div class="modal-body">
		<form id="maximoForm" name="maximoForm">
			<div class="form-group">
				<label for="dias-maximos" class="control-label">Dias Máximos por condición especial:</label>
				<div class="input-group date">	
					<input type="text" class="form-control" ng-model="licencia.cantidadEspecial" only-integers required>
				</div>
			</div>
			<div class="form-group" ng-if="licencia.simbolo == 'event-vacaciones'">
				<label for="dias-maximos" class="control-label">Fecha de antiguedad reconocida:</label>
				<div class="input-group date">								
					<input 
						type="date" 
						class="form-control" 
						datepicker-popup ng-model="licencia.ingresoAcordado" 
						is-open="status.opened" 
						datepicker-options="dateOptions" 
						ng-required="true" 
						close-text="Close" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close();">
			Cancelar
		</button>
        <button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="maximoForm.$invalid">
        	Confirmar
        </button>
	</div>
</div>