<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="rol.id">Editando Rol {{ rol.nombre }}</span>
			<span ng-hide="rol.id">Nuevo Rol</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="rolForm" name="rolForm">
				
			<div class="form-group">
				<label for="nombre" class="control-label">Nombre:</label>
				<input type="text" class="form-control" ng-model="rol.nombre" required/>
			</div>
			
			<legend>Permisos</legend>
			<span 
				class="label label-success" 
				ng-repeat="rp in rol.rol_permiso" 
				style="margin-right: 5px;">
				{{ rp.permiso.nombre }} <a href="javascript:void(0);" ng-click="quitarPermiso(rp);">X</a>
				<br ng-show="(rol.rol_permiso.indexOf(rp) % 4) == 3"/>
			</span>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-3">
					<label for="selectedPermiso" class="control-label">Permiso:</label>
				</div>
				<div class="col-md-6">
					<select 
						class="form-control"
						ng-options="permiso as permiso.nombre for permiso in permisos track by permiso.id"
						ng-model="selectedPermiso">
					</select>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="agregarPermiso();">
						Agregar
					</button>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="rolForm.$invalid" >Guardar</button>
	</div>
</div>