<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="feriado.id">Editando feriado {{ feriado.nombre }}</span>
			<span ng-hide="feriado.id">Nuevo Feriado</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="feriadoForm" name="feriadoForm">
				
			<div class="form-group">
				<label for="nombre" class="control-label">Nombre:</label>
				<input type="text" class="form-control" ng-model="feriado.nombre" required/>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="nombre" class="control-label">Fecha:</label>
						<input 
							type="date" 
							class="form-control" 
							datepicker-popup 
							ng-model="feriado.fecha" 
							is-open="status.opened" 
							datepicker-options="dateOptions" 
							ng-required="true" 
							close-text="Close" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="nombre" class="control-label">Símbolo:</label>
						<select class="form-control" ng-model="feriado.simbolo" required>
							<option value="holiday">holiday</option>
							<option value="special">special</option>
						</select>
					</div>
				</div>
			</div>
			
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="feriadoForm.$invalid" >Guardar</button>
	</div>
</div>