<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="area.id">Editando Area {{ area.nombre }}</span>
			<span ng-hide="area.id">Nueva Area</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="areaForm" name="areaForm">
				
			<div class="form-group">
				<label for="nombre" class="control-label">Nombre:</label>
				<input type="text" class="form-control" ng-model="area.nombre" required/>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="areaForm.$invalid" >Guardar</button>
	</div>
</div>