<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			<span ng-show="periodo.id">Editando período {{ periodo.nombre }}</span>
			<span ng-hide="periodo.id">Nuevo Período</span>
		</h4>
	</div>
	<div class="modal-body">
		<form id="periodoForm" name="periodoForm">
				
			<div class="form-group">
				<label for="nombre" class="control-label">Nombre:</label>
				<input type="text" class="form-control" ng-model="periodo.nombre" required/>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="nombre" class="control-label">Fecha de inicio:</label>
						<input 
							type="date" 
							class="form-control" 
							datepicker-popup 
							ng-model="periodo.fechaInicio" 
							is-open="status.opened" 
							datepicker-options="dateOptions" 
							ng-required="true" 
							close-text="Close" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="nombre" class="control-label">Fecha de fin:</label>
						<input 
							type="date" 
							class="form-control" 
							datepicker-popup 
							ng-model="periodo.fechaFin" 
							is-open="status.opened" 
							datepicker-options="dateOptions" 
							ng-required="true" 
							close-text="Close" />
					</div>
				</div>
			</div>
			
		</form>
		<!--
		<form id="feriadoForm" name="feriadoForm">
			<legend>Feriados</legend>
			<div style="height: 150px; overflow: auto">
				<table class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Fecha</th>
							<th>Símbolo</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="feriado in periodo.feriado | orderBy:'fecha'">
							<td>{{ feriado.nombre }}</td>
							<td>{{ feriado.fecha | date : 'dd/MM/yyyy' }}</td>
							<td>{{ feriado.simbolo }}</td>
							<td>
								<a class="btn btn-xs btn-danger" aria-label="Eliminar" ng-click="borrarFeriado(feriado);">
					                Eliminar
					            </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre:</label>
						<input type="text" class="form-control" ng-model="currentFeriado.nombre" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Fecha:</label>
						<input 
							type="date" 
							class="form-control" 
							datepicker-popup 
							ng-model="currentFeriado.fecha" 
							is-open="status.opened" 
							datepicker-options="dateOptions" 
							ng-required="true" 
							close-text="Close" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Símbolo:</label>
						<select class="form-control" ng-model="currentFeriado.simbolo" required>
							<option value="holiday">holiday</option>
							<option value="special">special</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<button type="button" 
						class="btn btn-s btn-default" 
						style="margin-top: 25px"
						ng-click="agregarFeriado();" 
						ng-disabled="feriadoForm.$invalid" >
						Agregar
					</button>
				</div>
			</div>
		</form>
	-->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="periodoForm.$invalid" >Guardar</button>
	</div>
</div>