<div class="msg-pop msg-alerta">
	<span class="fa fa-times-circle fa-lg fa-inverse-white pull-right pointer m-l" ng-click="close()"></span>
	<div class="msg-pop-icono center-block">
		<span class="glyphicon glyphicon-info-sign"></span>
	</div>
	<h2 class="msg-titulo text-center">Atención</h2>
	<p class="text-center">{{infoMessage}}</p>
	<div class="btnes-msg">
		<button class="btn-msg" ng-click="close()">Aceptar</button>
	</div>
</div>