
			<div class="row">
				<div class="col-md-12">
				  <div class="page-title">      
				    <h3>Pendientes de aprobación</h3>
					</div>		
					<br>		
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Fecha de pedido</th>								
								<th>Empleado</th>
								<th>Unidad</th>
								<th>Tipo de licencia</th>
								<th>Fecha desde</th>	
								<th>Fecha hasta</th>	
								<th>Cantidad días</th>	
								<th>Días gozados</th>
								<th>Máximos</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/01/2015</td>
								<td>Juan Perez</td>
								<td>IT</td>
								<td>Vacaciones</td>
								<td>12/02/2015</td>
								<td>18/02/2015</td>
								<td>7</td>
								<td>14</td>
								<td>21</td>								
								<td><button type="button" class="btn btn-success" aria-label="Aprobar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
								<td><button type="button" class="btn btn-danger" aria-label="Rechazar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
								<td><a href="#" class="btn btn-primary informacion pop-info" data-placement="bottom">i</a></td>
							</tr>
							<tr>
								<td>12/01/2015</td>
								<td>Jose Chamot</td>
								<td>Call Center</td>
								<td>Enfermedad</td>
								<td>02/03/2015</td>
								<td>04/03/2015</td>
								<td>2</td>
								<td>4</td>
								<td>4</td>								
								<td><button type="button" class="btn btn-success" aria-label="Aprobar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
								<td><button type="button" class="btn btn-danger" aria-label="Rechazar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
								<td><a href="#" class="btn btn-primary informacion pop-info" data-placement="bottom">i</a></td>
								
							</tr>
							<tr>
								<td>12/01/2015</td>
								<td>Natalia Pascusso</td>
								<td>IT</td>
								<td>Licencia por estudio</td>
								<td>20/04/2015</td>
								<td>21/04/2015</td>
								<td>2</td>
								<td>2</td>
								<td>4</td>								
								<td><button type="button" class="btn btn-success" aria-label="Aprobar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
								<td><button type="button" class="btn btn-danger" aria-label="Rechazar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
								<td><a href="#" class="btn btn-primary informacion pop-info" data-placement="bottom">i</a></td>
							</tr>
							<tr>
								<td>14/02/2015</td>
								<td>Daniela Ochoa</td>
								<td>Marketing</td>
								<td>Licencia por maternidad</td>
								<td>01/03/2015</td>
								<td>31/05/2015</td>
								<td>90</td>
								<td>0</td>
								<td>90</td>								
								<td><button type="button" class="btn btn-success" aria-label="Aprobar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
								<td><button type="button" class="btn btn-danger" aria-label="Rechazar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
								<td><a href="#" class="btn btn-primary informacion pop-info" data-placement="bottom">i</a></td>
							</tr>
						</tbody>
					</table>					
				</div>								
			</div>		  
			<div id="popover_content_wrapper" style="display: none">
				<h3>Juan Perez</h3>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Tipo Licencia</th>								
							<th>Dias usados</th>
							<th>Máximo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Enfermedad</td>
							<td>3</td>
							<td>7</td>
						</tr>
						<tr>
							<td>Estudio</td>
							<td>8</td>
							<td>15</td>
						</tr>
						<tr>
							<td>Vacaciones 2014</td>
							<td>8</td>
							<td>15</td>							
						</tr>
						<tr>
							<td>Vacaciones 2015</td>
							<td>0</td>
							<td>20</td>							
						</tr>
					</tbody>
				</table>	
			</div>			
			<script>
					$(document).ready(function(){
						$('.pop-info').popover({ 
							html : true,
							content: function() {
								return $('#popover_content_wrapper').html();
							}
						});
					});
			</script>			