			<!-- Estilos de los días -->
			<style type="text/css" media="screen">
				.weekend .dhx_month_body{
					background-color: #D4D4D4;
				}
				
				.weekend .dhx_month_head{
					background-color: #D4D4D4;
				}
				
				.holiday .dhx_month_body{
					background-color: #FFBFBF;
				}
				
				.holiday .dhx_month_head{
					background-color: #FFBFBF;
				}
				
				.special .dhx_month_body{
					background-color: #9FFF9F;
				}
				
				.special .dhx_month_head{
					background-color: #9FFF9F;
				}
						
				
			</style>
			
			<div class="row">
				<!-- CALENDAR -->
				<div class="col-md-8">
				  <div class="page-title">      
				    <h2>Calendario de Licencias</h2>
					</div>
									
					<div id="scheduler1" class="dhx_cal_container">
						<div class="dhx_cal_navline">
								<div class="dhx_cal_prev_button">&nbsp;</div>
								<div class="dhx_cal_next_button">&nbsp;</div>
								<div class="dhx_cal_today_button"></div>
								<div class="dhx_cal_date"></div>
						</div>
						<div class="dhx_cal_header"></div>
						<div class="dhx_cal_data"></div>       
					</div>
					
					<script>						
						// Setea la clase según el tipo de día (**SIMULACION**)
						scheduler.templates.month_date_class=function(date,today){
							if ((date.getDay() == 6 || date.getDay() == 0) && date.getMonth() == 3) 							
								return "weekend";	
							if ((date.getDate() == 20 || date.getDate() == 21) && date.getMonth() == 3)
								return "holiday";	
							if ((date.getDate() == 17) && date.getMonth() == 3)
								return "special";									
							return "";
						}
						
						// Setea el ícono según el estado de la aprobación
						scheduler.attachEvent("onTemplatesReady", function(){
								scheduler.templates.event_bar_text = function(start,end,event){
										switch(event.state){																				
											case "approved":
													return (event.text + '<img style=" float: right; margin-right: 2px; width: 17px;" src="img/ok.png"/>' );
											case "rejected":
													return (event.text + '<img style=" float: right; margin-right: 2px; width: 17px;" src="img/cancel.png"/>' );
											case "waiting":
													return (event.text + '<img style=" float: right; margin-right: 2px; width: 17px;" src="img/wait.png"/>' );													
											default:
												return event.text;
										}
								};
						}); 
						
						scheduler.init('scheduler1', new Date(),"month");
						
						// Carga los datos desde JSON (**SIMULACION**)
						scheduler.parse([
							{text:"Vacaciones", start_date:"04/06/2015 00:00", end_date:"04/12/2015 24:00", color:"#1796B0", state:"approved"},
							{text:"Musdanza", start_date:"04/13/2015 00:00", end_date:"04/14/2015 24:00", color:"#939300", state:"approved"},
							{text:"Enfermedad",  start_date:"04/22/2015 00:00", end_date:"04/22/2015 24:00", color:"#004A00", state:"rejected"},
							{text:"Licencia por estudio",  start_date:"04/28/2015 00:00", end_date:"04/29/2015 24:00", color:"#620000", state:"waiting"}
						],"json");
							
					</script>
					
				</div>
				
				<!-- FORMULARIO -->
				<div class="col-md-4">
					<div class="page-title">      
				    <h3 class="reference">Ingrese su licencia</h3>
					</div>

					<form class="form-horizontal">
						<!-- TIPO DE LICENCIA -->
						<div class="form-group">				
							<label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
							<div class="col-sm-8">
								<select id="tipoLicencia" class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						
						<!-- FECHA DESDE -->
						<div class="form-group">				
							<label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
							<div class="col-sm-8">
								<div class="input-group date">								
									<input  id="fechaDesde" type="text" class="form-control input-append date" placeholder="dd/mm/yyyy">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
						
						<!-- FECHA HASTA -->
						<div class="form-group">
							<label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
							<div class="col-sm-8">
								<div class="input-group date">								
									<input  id="fechaHasta" type="text" class="form-control input-append date" placeholder="dd/mm/yyyy">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
					
						<!-- COMENTARIOS -->
						<div class="form-group">				
							<label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
							<div class="col-sm-8">
								<textarea id="comentarios" class="form-control" rows="3"></textarea>
							</div>
						</div>
						
						<!-- BOTÓN INGRESAR -->
						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary btn-lg btn-block">Ingresar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<!-- REFERENCIAS	-->			
			<div class="row">
			
				<!-- TIPOS DE LICENCIA -->
				<div class="col-md-4">			
					<div class="page-title">      
				    <h4 class="reference">Tipos de licencia</h4>
					</div>					
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
								<th>Días gozados</th>
								<th>Máximos</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img src="img/ref1.png"/></td>
								<td>Vacaciones</td>
								<td class="right">7</td>
								<td class="right">14</td>
							</tr>
							<tr>
								<td><img src="img/ref2.png"/></td>
								<td>Mudanza</td>
								<td class="right">2</td>
								<td class="right">2</td>
							</tr>
							<tr>
								<td><img src="img/ref3.png"/></td>
								<td>Enfermedad</td>
								<td class="right">1</td>
								<td class="right">5</td>
							</tr>
							<tr>
								<td><img src="img/ref4.png"/></td>
								<td>Estudio</td>
								<td class="right">2</td>
								<td class="right">4</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- DIAS NO LABORABLES -->
				<div class="col-md-4">	
					<div class="page-title">      
				    <h4 class="reference">Días no laborables</h4>
					</div>				
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img src="img/feriado2.png"/></td>
								<td>Hoy</td>								
							</tr>
							<tr>
								<td><img src="img/feriado1.png"/></td>
								<td>Sáb. y Dom.</td>								
							</tr>
							<tr>
								<td><img src="img/feriado4.png"/></td>
								<td>Feriado Nacional por ####</td>								
							</tr>
							<tr>
								<td><img src="img/feriado3.png"/></td>
								<td>Día Internacional de AIG</td>							
							</tr>							
						</tbody>
					</table>	
				</div>
				
				<!-- ESTADOS DE APROBACIÓN -->
				<div class="col-md-4">			
					<div class="page-title">      
				    <h4 class="reference">Estados de aprobación</h4>
					</div>
				  <table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img src="img/ok.png"/></td>
								<td>Licencia aprobada</td>								
							</tr>
							<tr>
								<td><img src="img/wait.png"/></td>
								<td>En espera de aprobación</td>								
							</tr>
							<tr>
								<td><img src="img/cancel.png"/></td>
								<td>Licencia rechazada</td>							
							</tr>							
						</tbody>
					</table>	
				</div>
			</div>
			
			<script>
				$('.input-group.date').datepicker({
					format: 'dd/mm/yyyy',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					language: "es"
				});
				
				
			</script>