		

		
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="logo"></div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li id='nv_lic'><a onclick="setActive('nv_lic'); setPage('content', 'licencias.html');"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><div class="nav-desc">Licencias</div></a></li>
						<div class="separator"></div>
						<li id='nv_aprob'><a onclick=" setPage('content', 'aprobacion.html');"><span class="glyphicon glyphicon-check" aria-hidden="true"></span><div class="nav-desc">Lista de aprobación</div></a></li>
						<div class="separator"></div>
						<li id='nv_hist'><a onclick="setActive('nv_hist'); setPage('content', 'historia.html');"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><div class="nav-desc">Historia</div></a></li>
						<div class="separator"></div>
						<li id='nv_conf'><a onclick="setActive('nv_conf'); setPage('content', 'configuracion.html');"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><div class="nav-desc">Configuración</div></a></li>
						<div class="separator"></div>
						<li id='nv_rep'><a onclick="setActive('nv_rep'); setPage('content', 'reportes.html');"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><div class="nav-desc">Reportes</div></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><div class="nav-desc">Pref.</div></a></li>
						<div class="separator"></div>
						<li><a href="login.html"><span class="glyphicon glyphicon-off" aria-hidden="true"></span><div class="nav-desc">Salir</div></a></li>
					</ul>
				</div>
			</div>
		</nav>


