<div class="msg-pop msg-errores">
	<span class="fa fa-times-circle fa-lg fa-inverse-white pull-right pointer m-l" ng-click="close()"></span>
	<div class="msg-pop-icono center-block">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
	</div>
	<h2 class="msg-titulo text-center">Error</h2>
	<p class="text-center" ng-bind-html="errorMessage"></p>
	<p class="text-center" ng-bind-html="errorValidations"></p>
	<button class="btn-msg center-block" ng-click="close()">Aceptar</button>
</div>	