<div class="msg-pop msg-confir">
	<span class="fa fa-times-circle fa-lg fa-inverse-white pull-right pointer m-l" ng-click="cancel()"></span>
	<div class="msg-pop-icono center-block">
		<span class="glyphicon glyphicon-ok-sign"></span>
	</div>
	<h2 class="msg-titulo text-center">Confirmar</h2>
	<p class="text-center">{{confirmMessage}}</p>
	<div class="btnes-msg">
		<button class="btn-msg" ng-click="ok()">Aceptar</button>	
		<button class="btn-msg" ng-click="cancel()">Cancelar</button>
	</div>
</div>