<div class="row" ng-init="init()">
  <br/>
  <div ng-include="'views/admin/menu.html'"></div>

	<div class="col-md-12">
	  <div class="page-title">      
	    <h3>Administración de Licencias</h3>
		</div>		
		<br>
		<div>
			<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumns" class="table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>              
            <th>Employee Id</th>
            <th>Unidad</th>
            <th>Fec. Ingreso</th>
            <th>Antigüedad</th>
            <th>Jefe del Área</th>
            <th></th>
            <th>Delegar</th>
          </tr>
        </thead>        
        <tbody>
          <tr ng-repeat="empleado in empleados">
          	<td>{{ empleado.id }}</td>              
						<td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
						<td>{{ empleado.employee_id }}</td>
						<td>{{ empleado.area.nombre }}</td>
						<td>{{ empleado.fechaIngreso | date : 'dd/MM/yyyy' }}</td>
						<td>{{ empleado.antiguedad }}</td>
            <td>
              <span ng-show="empleado.area.responsable_id == empleado.id">
                <span ng-show="empleado.area.delegado1.id">
                  {{ empleado.area.nombre }} (Delegado a {{ empleado.area.delegado1.nombres }} {{ empleado.area.delegado1.apellidos }})
                </span>
                <span ng-hide="empleado.area.delegado1.id">
                  {{ empleado.area.nombre }}
                </span>
              </span>
              <span ng-hide="empleado.area.responsable_id == empleado.id">
                -
              </span>
            </td>
            <td>
              <a href="#/licenciaEmpleado/{{ empleado.id }}" class="btn btn-success" aria-label="Licencias">
                <span class="glyphicon glyphicon-flag"></span>
              </a>            
            </td>	
            <td>
              <div ng-if="empleado.area.responsable_id == empleado.id">
                <button 
                  type="button" 
                  class="btn btn-success" 
                  aria-label="Licencias" 
                  ng-hide="empleado.area.delegado1.id" 
                  ng-click="delegar(empleado)">
                    Delegar
                </button>
                <button 
                  type="button" 
                  class="btn btn-primary" 
                  aria-label="Licencias" 
                  ng-show="empleado.area.delegado1.id" 
                  ng-click="desDelegar(empleado)">
                    Devolver
                </button>
               <div>
            </td>
          </tr>
        </tbody>
    	</table>
		</div>	
	</div>								
</div>
