<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			Editar licencia de {{ licencia.empleado.nombres }} {{ licencia.empleado.apellidos }}
		</h4>
	</div>
	<div class="modal-body">
		<form id="licenciaForm" name="areaForm">
			<div class="row">
				<!-- TIPO DE LICENCIA -->
				<div class="col-sm-12">
					<div class="form-group">				
						<label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
						<div class="col-sm-8">
							{{ licencia.tipo_licencia.nombre }}
						</div>
					</div>
				</div>
				
				<!-- FECHA DESDE -->
				<div class="col-sm-12">
					<div class="form-group">				
						<label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<input 
									type="date" 
									class="form-control" 
									datepicker-popup 
									ng-model="licencia.fecha_inicio" 
									is-open="status.opened" 
									datepicker-options="dateOptions" 
									ng-required="true" 
									close-text="Close" />
							</div>
						</div>
					</div>
				</div>
				
				<!-- FECHA HASTA -->
				<div class="col-sm-12">
					<div class="form-group">
						<label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
						<div class="col-sm-8">
							<div class="input-group date">
								<input 
									type="date" 
									class="form-control" 
									datepicker-popup 
									ng-model="licencia.fecha_fin" 
									is-open="status.opened" 
									datepicker-options="dateOptions" 
									ng-required="true" 
									close-text="Close" />								
								
							</div>
						</div>
					</div>
				</div>
			
				<!-- COMENTARIOS -->
				<div class="col-sm-12">
					<div class="form-group">				
						<label for="tipoLicencia" class="col-sm-4 control-label">Comentarios:</label>
						<div class="col-sm-8">
							{{ licencia.comentarios }}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="areaForm.$invalid" >Guardar</button>
	</div>
</div>