
<div class="row" ng-init="init()">
	<!-- CALENDAR -->
	<div class="col-md-8">
		<div class="page-title">      
	    	<h2>Calendario de Licencias</h2>
		</div>
		<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>				
	</div>
	
	<!-- FORMULARIO -->
	<div class="col-md-4" ng-show="currentlicencia">
		<div class="page-title">      
	    <h3 class="reference">Ingrese su licencia</h3>
		</div>

		<form class="form-horizontal" id="licenciaForm" name="licenciaForm">
			<!-- TIPO DE LICENCIA -->
			<div ng-if="hasPermiso('licencia.aprobar.rrhh')">
				<div class="form-group">				
					<label for="tipo_licencia_id" class="col-sm-4 control-label">Empleado:</label>
					<div class="col-sm-8">
						{{ empleado.nombres }} {{ empleado.apellidos }} 
						<a href="javascript:void(0);" 
							class="btn btn-default pull-right" 
							ng-click="elegirEmpleado();">
							Elegir
						</a>
					</div>
				</div>
			</div>
			<div class="form-group">				
				<label for="tipo_licencia_id" class="col-sm-4 control-label">Tipo de licencia:</label>
				<div class="col-sm-8">
					<select id="tipo_licencia_id" 
						class="form-control"
						ng-options="tipoLicencia as tipoLicencia.nombre for tipoLicencia in tipoLicencias | orderBy:'nombre'"
						ng-model="currentlicencia.tipo_licencia"
						required>
					</select>
				</div>
			</div>
			<div class="alert alert-info" role="alert" ng-show="currentlicencia.tipo_licencia.nombre == 'Estudio'">
				<strong>Nota:</strong> Recuerde que debe presentar certificado a recursos Humanos.
			</div>
			
			<!-- FECHA DESDE -->
			<div class="form-group">				
				<label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
				<div class="col-sm-8">
					<div class="input-group date">								
						<input  type="text" class="form-control input-append date" placeholder="dd/mm/yyyy" ng-model="currentlicencia.fecha_inicio">
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
				</div>
			</div>
			
			<!-- FECHA HASTA -->
			<div class="form-group">
				<label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input  id="fechaHasta" type="text" class="form-control input-append date" placeholder="dd/mm/yyyy" ng-model="currentlicencia.fecha_fin" required>
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
				</div>
			</div>
		
			<!-- COMENTARIOS -->
			<div class="form-group">				
				<label for="tipoLicencia" class="col-sm-4 control-label">Comentarios:</label>
				<div class="col-sm-8">
					<textarea id="comentarios" class="form-control" rows="3" ng-model="currentlicencia.notas_empleado"></textarea>
				</div>
			</div>
			
			<!-- BOTÓN INGRESAR -->
			<div class="form-group">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="guardarLicencia()" ng-disabled="licenciaForm.$invalid">
						<span ng-show="currentlicencia.id">Modificar</span>
						<span ng-hide="currentlicencia.id">Ingresar</span>
					</button>
				</div>
				<div class="col-sm-12" ng-show="currentlicencia.id">
					<br/>
					<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="borrarLicencia()" ng-disabled="licenciaForm.$invalid">Eliminar</button>
				</div>
				<div class="col-sm-12">
					<br/>
					<button type="button" class="btn btn-default btn-lg btn-block" ng-click="currentlicencia = null">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- REFERENCIAS	-->			
<div class="row">

	<!-- VACACIONES -->
	<div class="col-md-4">			
		<div class="page-title">      
	    	 <div class="references event-vacaciones">
	    	 	<h4 class="reference" style="margin-left: 80px;">
	    	 		Vacaciones
	    	 	</h4>
	    	 </div>
		</div>					
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Período</th>
					<th>Descripción</th>
					<th>Asignados</th>
					<th>Gozados</th>
					<th>Pend.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tipoLicencia in misVacacionesHistorico | orderBy:'periodo.nombre'"
					ng-if="me.fechaIngreso <= tipoLicencia.periodo.fechaFin && tipoLicencia.cantidadDiponible > 0">
					<td>{{tipoLicencia.periodo.nombre}}</td>
					<td>{{tipoLicencia.nombre}}</td>
					<td class="right">
						{{ tipoLicencia.cantidadOriginal }}
					</td>
					<td class="right">{{tipoLicencia.cantidadUtilizada}}</td>
					<td class="right">{{tipoLicencia.cantidadDiponible}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- OTRAS LICENCIAS -->
	<div class="col-md-4">	
		<div class="page-title">      
	    <h4 class="reference">Otras licencias</h4>
		</div>					
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Símbolo</th>
					<th>Descripción</th>
					<!-- th>Días gozados</th>
					<th>Máximos</th -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tipoLicencia in misTipoLicencias | orderBy:'nombre'" ng-if="tipoLicencia.simbolo != 'event-vacaciones'">
					<td><div class="references {{tipoLicencia.simbolo}}">&nbsp;</div></td>
					<td>{{tipoLicencia.nombre}}</td>
					<!-- td class="right">{{tipoLicencia.cantidadUtilizada}}</td>
					<td class="right">
						<span ng-show="tipoLicencia.cantidadEspecial > -1">
							{{ tipoLicencia.cantidadEspecial }}
						</span>
						<span ng-hide="tipoLicencia.cantidadEspecial > -1">
							{{ tipoLicencia.cantidadOriginal }}
						</span>
					</td -->
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- ESTADOS DE APROBACIÓN -->
	<div class="col-md-4">			
		<div class="page-title">      
	    <h4 class="reference">Estados de aprobación</h4>
		</div>
	  <table class="table table-condensed">
			<thead>
				<tr>
					<th>Símbolo</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="icon-reference icon-pre">&nbsp;</div></td>
					<td>Licencia aprobada por jefe</td>								
				</tr>
				<tr>
					<td><div class="icon-reference icon-ok">&nbsp;</div></td>
					<td>Licencia aprobada</td>								
				</tr>
				<tr>
					<td><div class="icon-reference icon-wait">&nbsp;</div></td>
					<td>En espera de aprobación</td>								
				</tr>
				<tr>
					<td><div class="icon-reference icon-cancel">&nbsp;</div></td>
					<td>Licencia rechazada</td>							
				</tr>							
			</tbody>
		</table>

		<!-- DÍAS NO LABORABLES -->
		<div class="page-title">      
	    <h4 class="reference">Días no laborables</h4>
		</div>				
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Símbolo</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class="dia hoy">&nbsp;</div></td>
					<td>Hoy</td>								
				</tr>
				<tr>
					<td><div class="dia weekend">&nbsp;</div></td>
					<td>Sáb. y Dom.</td>								
				</tr>
				<tr>
					<td><div class="dia holiday">&nbsp;</div></td>
					<td>Feriado Nacional</td>								
				</tr>
				<tr>
					<td><div class="dia special">&nbsp;</div></td>
					<td>Día especial de AIG</td>							
				</tr>							
			</tbody>
		</table>		
	</div>
</div>

<script>
	$('.input-group.date').datepicker({
		format: 'dd/mm/yyyy',
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
		language: "es"
	});
</script>