<div class="row" ng-init="init();">
	<br/>
	<div ng-include="'views/admin/menu.html'"></div>
	<div class="col-md-12">
	  <div class="page-title">      
	    <h3>Licencias de {{ empleado.nombres }} {{ empleado.apellidos }}</h3>
	</div>	
	<br/>
	<h4 style="color: #0080B0; font-size: 22px;">Vacaciones</h4>		
	<br/>
	<div>
		<table 
			class="table table-striped table-bordered row-border hover" 
			cellspacing="0" 
			width="100%">
        	<thead>
	        	<tr>
					<th>Período</th>
					<th>Días gozados</th>
					<th>Máximos</th>
					<th></th>
	        	</tr>
	        </thead>        
	        <tbody>
	         	<tr ng-repeat="vacacion in vacaciones | orderBy:'periodo.nombre'"
					ng-if="empleado.fechaIngreso <= vacacion.periodo.fechaFin && vacacion.cantidadOriginal > 0">
					<td>{{ vacacion.periodo.nombre }}</td>
					<td>{{ vacacion.cantidadUtilizada }}</td>
					<td>
						{{ vacacion.cantidadOriginal }}
					</td>
	            	<td>
	            		<button 
	            			type="button" 
	            			class="btn btn-primary" 
	            			aria-label="Editar"
	            			ng-click="editar(vacacion);">
	            				<span class="glyphicon glyphicon-pencil">
	            			</span>
	            		</button>
	            	</td>
	          </tr>
	        </tbody>
    	</table>
		<br/>
		<br/>	
		<br/>		
    	<h4 style="color: #0080B0; font-size: 22px;">Otras Licencias</h4>		
		<br/>
		<div>
			<table 
				class="table table-striped table-bordered row-border hover" 
				cellspacing="0" 
				width="100%">
        		<thead>
		        	<tr>
						<th>Tipo de licencia</th>
						<th>Días gozados</th>
						<th>Máximos</th>
						<th></th>
		        	</tr>
        		</thead>        
        		<tbody>
          			<tr ng-repeat="tipoLicencia in tiposLicencia" ng-if="tipoLicencia.simbolo != 'event-vacaciones'">
						<td>{{ tipoLicencia.nombre }}</td>
						<td>{{ tipoLicencia.cantidadUtilizada }}</td>
						<td>
							<span ng-show="tipoLicencia.cantidadEspecial > -1">
								{{ tipoLicencia.cantidadEspecial }}
							</span>
							<span ng-hide="tipoLicencia.cantidadEspecial > -1">
								{{ tipoLicencia.cantidadOriginal }}
							</span>
						</td>
	            		<td>
	            			<button 
	            				type="button" 
	            				class="btn btn-primary" 
	            				aria-label="Editar"
	            				ng-click="editar(tipoLicencia);">
	            				<span class="glyphicon glyphicon-pencil"></span>
	            			</button>
	            		</td>
          			</tr>
        		</tbody>
    		</table>

		</div>	
	</div>								
</div>