<div ng-init="initHome()">
	<!-- Header -->
  <div id="header">
		<nav class="navbar navbar-default navbar-fixed-top" bs-navbar>
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="logo"></div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li data-match-route="/licencias">
							<a href="#/licencias">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								<div class="nav-desc">Mis Licencias</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('licencia.aprobar.rrhh')"></div>
						<li data-match-route="/aprobacion" ng-show="hasPermiso('licencia.aprobar.rrhh')">
							<a href="#/aprobacion/rrhh">
								<span class="glyphicon glyphicon-check" aria-hidden="true">
								</span>
								<div class="nav-desc">Lista de aprobación de RRHH</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('licencia.aprobar')"></div>
						<li data-match-route="/aprobacion" ng-show="hasPermiso('licencia.aprobar')">
							<a href="#/aprobacion/jefe">
								<span class="glyphicon glyphicon-check" aria-hidden="true">
								</span>
								<div class="nav-desc">Lista de aprobación del Responsable</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('licencia.aprobar')"></div>
						<li data-match-route="/historia" id='nv_hist' ng-show="hasPermiso('licencia.aprobar')">
							<a href="#/historia">
								<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
								<div class="nav-desc">Historia</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('usuario.editar') || hasPermiso('licencia.aprobar.jefe')"></div>
						<li data-match-route="/admin-empleados" id='nv_conf' ng-show="hasPermiso('usuario.editar') || hasPermiso('licencia.aprobar.jefe')">
							<a href="#/admin-empleados">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								<div class="nav-desc">Configuración</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('reportes.ver')"></div>
						<li id='nv_rep' ng-show="hasPermiso('reportes.ver')">
							<a onclick="setActive('nv_rep'); setPage('content', 'reportes.html');">
								<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
								<div class="nav-desc">Reportes</div>
							</a>
						</li>
						<div class="separator" ng-show="hasPermiso('licencia.aprobar')"></div>
						<li id='nv_rep' ng-show="hasPermiso('licencia.aprobar')">
							<a ng-click="delegar()">
								<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
								<div class="nav-desc">Delegar</div>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-user" aria-hidden="true">
								</span>
								<div class="nav-desc">{{ user.nombre }} {{ user.apellido }}</div>
							</a>
						</li>
						<!--div class="separator"></div>
						<li>
							<a href="#" ng-click="logout()">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
								<div class="nav-desc">Salir</div>
							</a>
						</li-->
					</ul>
				</div>
			</div>
		</nav>
  </div>

  <!-- Content -->
  <div id="content" class="container" ui-view></div>
		
	<!-- Footer -->
  <footer id="footer" class="footer">
		<div class="container-fluid">
      <p class="text-muted"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Licencias</p>
    </div>
  </footer>
      
</div>
