.fc-left > h2 {
	color:#0080B0;
	font-size: 22px;
}

.fc-day-header {
	background-color:#ddd;
	color:#333333;
}

.fc-unthemed td {
	border-color:#ccc;
}

.fc-unthemed .fc-today {
	background-color:#FFFFBF;
}

.hoy{
	background-color:#FFFFBF;
}

.weekend{
	background-color: #EEEEEE;
	
}

.holiday{
	background-color: #FFBFBF;
	color: #6D0F0F;
	padding: 3px !important;
	font-size: 12px;
	padding-right: 16px !important;
}

.special{
	background-color: #9FFF9F;
	color: #327532;
	padding: 3px !important;
	font-size: 12px;
  padding-right: 16px !important;
}

.icon-calendar{
	float: right; 
	margin-right: 0px; 
	margin-top: -21px;
	width: 20px;
	height:20px;
}

.icon-reference{
	width: 25px;
	height:25px;	
}

.icon-ok{	
	background: url('../img/ok.png');	
	background-size: cover;
}

.icon-cancel{	
	background: url('../img/cancel.png');	
	background-size: cover;
}

.icon-wait{	
	background: url('../img/wait.png');	
	background-size: cover;
}

.icon-pre{	
	background: url('../img/pre.png');	
	background-size: cover;
}

.event-vacaciones{
	background-color: #307683;
	border-color: #307683;
}

.event-mudanza{
	background-color: #939300;
	border-color: #939300;
}

.event-enfermedad{
	background-color: #930011;
	border-color: #930011;
}

.event-lic-estudio{
	background-color: #0E807A;
	border-color: #0E807A;
}

.event-lic-casamiento {
    background-color: #112DB5;
    border-color: #112DB5;
}

.event-lic-nacimiento {
    background-color: #09C8DC;
    border-color: #09C8DC;
}

.event-lic-defuncion1 {
    background-color: #838683;
    border-color: #838683;
}

.event-lic-defuncion2 {
    background-color: #838683;
    border-color: #838683	;
}

.event-donacion-sangre {
    background-color: #CA0B0B;
    border-color: #CA0B0B;
}

.event-día-cunple {
    background-color: #0B6613;
    border-color: #0B6613;
}

.event-tarde {
    background-color: #6F3682;
    border-color: #6F3682;
}

.event-retiro-anticipado {
    background-color: #0B6613;
    border-color: #0B6613;
}

.event-enf-familiar {
    background-color: #9A6618;
    border-color: #9A6618;
}

.event-lic-maternidad {
    background-color: #DC36C0;
    border-color: #DC36C0;
}

.references{
  -webkit-border-radius: 12px;  
  -moz-border-radius: 12px; 
  border-radius: 12px; 
	line-height: 13px;
  margin-top: 3px;
  width: 55px;
}

 
 .dia{
  height: 20px;
  width: 30px;
 }
 
.fc-time{
  display : none;
}

.fc-event {
  font-size: 1em;
  line-height: 1.6;
  border-radius: 10px; 
}

.fc-title {
	margin-left:5px;
}

