/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/***** CONTAINER ****/

.container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

/***** FOOTER ****/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0080B0;
}

.footer > .container-fluid {
  margin-top: 15px;
}

.footer .text-muted{
	color:#fff;
	font-size: 18px;
	line-height: 28px;	
}

.footer .glyphicon{
	margin-right: 15px;
	font-size: 24px;
	float:left;
}


/***** OTHERS ****/

code {
  font-size: 80%;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

/* Custom bootstrap modifications */

/**** NAV BAR ****/
.navbar-default {
  background-color: #0080B0;
  border-color: #0080B0;
}

.navbar {
	font-size: 12px;
 	 min-height: 60px; 
	 font-family:Arial, Helvetica, sans-serif;
}

.navbar .glyphicon{
	margin-top:2px;
	margin-right: 10px;
	font-size: 18px;
	float:left;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
	line-height:26px;
	cursor:pointer;
}

.navbar-default .navbar-nav>li>a:focus{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #FF9900;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FF9900;
  background-color: #0080B0;
	line-height:26px;

}

.logo {
	background-image:url(../img/logo.png);
	width: 82px;
	height: 44px;
	float: left;
	margin-top: 7px;
	margin-right: 15px;
	margin-left: 15px;
}

.separator{
	background-image:url(../img/nav-sep.png);
	width:1px;
	height:37px;		
	float:left;
	margin-top:10px;
	display:none;
}

.man{
	background-image:url(../img/man-off.png);
	width:27px;
	height:26px;
}

.man:hover{
	background-image:url(../img/man-on.png);
}

.woman{
	background-image:url(../img/woman-off.png);
	width:26px;
	height:26px;
}

.woman:hover{
	background-image:url(../img/woman-on.png);
}

.nav-desc {
	display: inline;
}


@media (min-width: 768px){
	.nav-desc {
		display: none;
	}
	
	.separator {
		display: inline;
	}
}

@media (min-width: 992px) {
	.nav-desc {
		display: inline;
	}
	
	.separator {
		display: inline;
	}
}

/***** TITLES ****/

.page-title{
  margin: 25px 0 0;
  border-top: 1px solid #080808;
}

.page-title h2{
  margin-top: 8px;
}

.page-title h3{
  margin-top: 6px;
}

.reference{
	margin-bottom: 20px;
}



/**** LOGIN ****/
.login { 
	background: url(img/vacaciones.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**** FORMS ****/

/**** LISTA DE APROBACION ****/
.informacion{
  //width: 40px;
  font-size: 24px;
  font-family: serif;
  font-weight: bold;
  line-height: 20px;
}




/* Mensajes (error - alerta - confir) */
.msg-errores{
	background: url('../img/error-back.jpg') no-repeat 0px -1px;
}
.msg-alerta{
	background: url('../img/alerta-back.jpg') no-repeat 0px -1px;
}
.msg-confir{
	background: url('../img/confir-back.jpg') no-repeat 0px -1px;
}
.msg-pop{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 406px;
	height: auto;
	margin-top: 100px;
	margin-left: -103px;
	background-color: white;
	border-radius: 8px;
	padding-bottom: 10px;
}
.msg-pop>span{
	margin-top: 5px;
	margin-right: 5px;
}
.msg-errores .msg-pop-icono{	
	background-color: #E58585;
}
.msg-alerta .msg-pop-icono{	
	background-color: #00A7E1;
}
.msg-confir .msg-pop-icono{	
	background-color: #53B791;
}
.msg-errores .msg-titulo{	
	color: #E58585;
}
.msg-alerta .msg-titulo{	
	color: #00A7E1;
}
.msg-confir .msg-titulo{	
	color: #53B791;
}
.msg-errores .btn-msg{	
	color: #E58585;	
	border: 1px solid #E58585;
}
.msg-alerta .btn-msg{	
	color: #00A7E1;	
	border: 1px solid #00A7E1;
}
.msg-alerta .btn-msg:nth-child(2){	
	background-color: #00A7E1;
	color: white;	
	border: 1px solid #00A7E1;
}
.msg-confir .btn-msg{	
	color: #53B791;	
	border: 1px solid #53B791;
}
.msg-confir .btn-msg:nth-child(2){	
	background-color: #53B791;
	color: white;	
	border: 1px solid #53B791;
}
.msg-pop-icono{
	width: 125px;
	height: 125px;
	margin-top: 25px;
	border-radius: 63px;
	border: white solid 11px;
}
.msg-pop-icono>span{
	color: white;
	left: 22px;
	top: 22px;
	font-size: 4.5em;
}
.msg-titulo{
	margin-top: -2px;
}
.btn-msg{
	background-color: white;
	border-radius: 5px;
	padding: 8px 15px;
}
.btnes-msg{
	margin-left: 30%;
}
@media (min-width: 768px) and (max-width: 992px){
	.msg-pop{
		top: 25%;
	}
}
@media (max-width: 768px){
	.msg-pop{
		top: 25%;
		margin-left: -203px;
	}
}
/* Mensajes (error - alerta - confir) */