<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			Dar de baja a {{ empleado.nombres }} {{ empleado.apellidos }}
		</h4>
	</div>
	<div class="modal-body">
		<form id="empleadoForm" name="empleadoForm">
			<div class="form-group">
				<label for="fechaEgreso" class="control-label">Fecha de egreso:</label>
				<div class="input-group date">								
					<input 
						type="text" 
						class="form-control" 
						ng-model="empleado.fechaBaja" 
						ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
						ng-required="true" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="empleadoForm.$invalid" >Guardar</button>
	</div>
</div>