<div class="modal-content" ng-init="init();">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="formModal">
      Exportar novedades
    </h4>
  </div>
  <div class="modal-body">
    <form id="novedadesForm" name="novedadesForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">        
            <label for="dateFrom" class="col-sm-4 control-label">Desde:</label>              
            <input 
              type="text" 
              class="form-control"
              ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
              ng-model="dateFrom"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">        
            <label for="dateTo" class="col-sm-4 control-label">Hasta:</label>              
            <input 
              type="text" 
              class="form-control"
              ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
              ng-model="dateTo"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="reProcess" class="control-label">Volver a ejecutar:</label>
        </div>
        <div class="col-md-9">
          <select 
            class="form-control"
            ng-model="reProcess">
            <option value="0">No, solo descargar las novedades pendientes</option>
            <option value="1">Si, descargar todas las licencias entre las fechas indicadas</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="descargar();" ng-disabled="novedadesForm.$invalid" >Descargar</button>
  </div>
</div>