<div class="modal-content" ng-init="init();">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="formModal">
      <span>{{empleado.nombres}} {{empleado.apellidos}}, Responsable de {{empleado.area.nombre}}</span>
    </h4>
  </div>
  <div class="modal-body">
    <form id="tipoLicenciaForm" name="tipoLicenciaForm">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar empleado" ng-model="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="buscar()">Buscar</button>
        </span>
      </div>

      <br/>
      <div ng-show="performed && !resultados.length">
        No se encuentran resultados
      </div>
      <div ng-show="resultados.length">
        <table id="empleados" class="table table-striped table-bordered row-border hover" cellspacing="0" width="20%">
          <thead>
            <tr>
              <th>Legajo</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
          </thead>        
          <tbody>
            <tr ng-repeat="e in resultados">
              <td>{{ e.legajo }}</td>              
              <td>{{ e.nombres }} {{ e.apellidos }}</td>
              <td>
                <button type="button" class="btn btn-success" aria-label="Licencias" ng-hide="e.id == empleado.id"
                  ng-click="delegar(e);">
                  Delegar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-msg" ng-click="close()">Cerrar</button>
  </div>
</div>
