<nav class="navbar navbar-default " bs-navbar>
	<div class="container-fluid">
		<div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav sub-menu">
                <!-- EMPLEADOS -->
                <div class="separator" ng-show="hasPermiso('usuario.editar')"></div>
                <li data-match-route="/admin-empleados" ng-show="hasPermiso('usuario.editar')">
                    <a href="#/admin-empleados">
                        <div class="nav-desc">Empleados</div>
                    </a>
                </li>
                <!-- ROLES -->
                <div class="separator" ng-show="hasPermiso('rol.editar')"></div>
                <li data-match-route="/admin-roles" ng-show="hasPermiso('rol.editar')">
                    <a href="#/admin-roles">
                        <div class="nav-desc">Roles</div>
                    </a>
                </li>
                <!-- AREAS -->
                <div class="separator" ng-show="hasPermiso('area.editar')"></div>
                <li data-match-route="/admin-areas" ng-show="hasPermiso('area.editar')">
                    <a href="#/admin-areas">
                        <div class="nav-desc">Sectores</div>
                    </a>
                </li>
                <!-- PERIODOS -->
                <div class="separator" ng-show="hasPermiso('periodo.editar')"></div>
                <li data-match-route="/admin-periodos" ng-show="hasPermiso('periodo.editar')">
                    <a href="#/admin-periodos">
                        <div class="nav-desc">Periodos</div>
                    </a>
                </li>
                <!-- FERIADOS -->
                <div class="separator" ng-show="hasPermiso('feriados.editar')"></div>
                <li data-match-route="/admin-feriados" ng-show="hasPermiso('feriados.editar')">
                    <a href="#/admin-feriados">
                        <div class="nav-desc">Feriados</div>
                    </a>
                </li>
                <!-- TIPOS DE LICENCIA -->
                <div class="separator" ng-show="hasPermiso('tipo.licencia.editar')"></div>
                <li data-match-route="/admin-tipos-licencia" ng-show="hasPermiso('tipo.licencia.editar')">
                    <a href="#/admin-tipos-licencia">
                        <div class="nav-desc">Tipos de licencia</div>
                    </a>
                </li>
                <!-- DESCARGAR NOVEDADES -->
                <!-- div class="separator" ng-show="hasPermiso('tipo.licencia.editar')"></div>
    <li data-match-route="/admin-tipos-licencia" ng-show="hasPermiso('tipo.licencia.editar')">
        <a href="{{baseAppUrl}}/Export/ExportNovedades">
            <div class="nav-desc">Descargar novedades</div>
        </a>
    </li -->
                <!-- DESCARGAR NOVEDADES -->
                <div class="separator" ng-show="hasPermiso('tipo.licencia.editar')"></div>
                <li data-match-route="/admin-tipos-licencia" ng-show="hasPermiso('tipo.licencia.editar')">
                    <a ng-click="novedades()">
                        <div class="nav-desc">Descargar novedades</div>
                    </a>
                </li>
                <!-- DESCARGAR SALDOS -->
                <div class="separator" ng-show="hasPermiso('tipo.licencia.editar')"></div>
                <li data-match-route="/admin-tipos-licencia" ng-show="hasPermiso('tipo.licencia.editar')">
                    <a href="{{baseAppUrl}}/Export/ExportSaldos">
                        <div class="nav-desc">Descargar saldos</div>
                    </a>
                </li>
                <!-- LICENCIAS AL DIA DE HOY -->
                <div class="separator" ng-show="hasPermiso('licencia.ver')"></div>
                <li data-match-route="/admin-tipos-licencia" ng-show="hasPermiso('licencia.ver')">
                    <a href="#/admin-licencias-hoy">
                        <div class="nav-desc">Licencias al dia de hoy</div>
                    </a>
                </li>
                <!-- NOTIFICACION DE LICENCIAS POR VENCER -->
                <div class="separator" ng-show="hasPermiso('periodo.editar')"></div>
                <li data-match-route="/admin-notificar-vencimiento" ng-show="hasPermiso('periodo.editar')">
                    <a href="#/admin-notificar-vencimiento">
                        <div class="nav-desc">Notificar vencimiento</div>
                    </a>
                </li>
                <!-- Reseteo de contraseņa -->
                <div class="separator" ng-show="hasPermiso('admin.resetear')"></div>
                <li data-match-route="/resetPassword" id='nv_res' ng-show="hasPermiso('admin.resetear')">
                    <a href="#/resetPassword">
                        <div class="nav-desc">Administrar contrase&ntilde;as</div>
                    </a>
                </li>
            </ul>
		</div>
	</div>
</nav>
<!--</div>-->