<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			Buscar empleado
		</h4>
	</div>
	<div class="modal-body">
		<form id="areaForm" name="areaForm">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Buscar empleado" ng-model="term"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="buscarEmpleado()">Buscar</button>
				</span>
			</div>

			<div ng-show="performed && !resultados.length">
				No se encuentran resultados
			</div>
			<div ng-show="resultados.length">
				<table id="empleados" 
					class="table table-striped table-bordered row-border hover" 
					cellspacing="0" 
					width="20%">
					<thead>
						<tr>
							<th>Employee Id</th>
							<th>Nombre</th>
							<th>Acciones</th>
						</tr>
					</thead>        
					<tbody>
						<tr ng-repeat="e in resultados">
							<td>{{ e.employee_id }}</td>              
							<td>{{ e.nombres }} {{ e.apellidos }}</td>
							<td>
								<button type="button" 
									class="btn btn-success" 
									aria-label="Licencias" 
									ng-hide="e.id == empleado.id"
									ng-click="elegir(e);">
									Elegir
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="elegir();" ng-disabled="areaForm.$invalid" >Guardar</button>
	</div>
</div>