﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7,8,9">
</head>
<body style="font-family:'Arial','Calibri',Calibri;">
    <table style="width:100%;">
        <tr>
            <td>
                <img style="display: block;
                            margin-left: auto;
                            margin-right: auto;"
                     src="cid:101" />
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="text-align:center; color:#00B0F0">
                    RRHH
                </h2>
                <h2 style="text-align:center; color:#00B0F0">
                    Sistema de gestión de licencias
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <p style="text-align:center;">
                    Ha sido aprobada una solicitud de licencia por {{tipoLicencia}} para: {{nombres}} {{apellidos}} con las siguientes observaciones:
                </p>
            </td>
        </tr>
    </table>
    <div style="text-align:center;">
        <p>{{observaciones}}</p>
    </div>
</body>
</html>