	
			<div class="row">
				<!-- CALENDAR -->
				<div class="col-md-8">
				  <div class="page-title">      
				    <h2>Calendario de Licencias</h2>
					</div>
						<div id="calendar"></div>				
			
					
					<script>		
						$(document).ready(function() {
							
							//Genera el calendario
							$('#calendar').fullCalendar({
								dayRender: function (date, cell) {
									if ((date.day() == 6 || date.day() == 0)) 							
										cell.addClass("weekend");											
									if ((date.date() == 20 || date.date() == 21) && date.month() == 4)
										cell.addClass("holiday");	
									if ((date.date() == 15) && date.month() == 4)
										cell.addClass("special");									
									return "";							
								},								
								//Carga JSON (SIMULACION)
								events:[
									{"id":"1","title":"Vacaciones","start":"2015-05-04","end":"2015-05-15","allDay":true,"className":"event-vacaciones","status":"waiting"},
									{"id":"2","title":"Mudanza","start":"2015-05-13","end":"2015-05-20","allDay":false,"className":"event-mudanza","status":"approved"},
									{"id":"3","title":"Enfermedad","start":"2015-05-22","end":"2015-05-22","allDay":false,"className":"event-enfermedad","status":"rejected"},
									{"id":"4","title":"Lic. estudio","start":"2015-05-28","end":"2015-05-29","allDay":false,"className":"event-lic-estudio","status":"waiting"}
								],
								eventRender: function(event, element) {				
									// Setea el ícono según el estado de la aprobación
									var iconClass = 'icon-calendar ';
									switch(event.status.trim()){																				
										case "approved":
											iconClass += 'icon-ok' ;
											break;
										case "rejected":
											iconClass += 'icon-cancel';
											break;
										case "waiting":
											iconClass += 'icon-wait';
											break;
										default:
											iconClass += '';											
									}																		
									element.append( '<div class="' + iconClass + '">&nbsp;</div>');
								}								
							});
						});	
						
					</script>
					
				</div>
				
				<!-- FORMULARIO -->
				<div class="col-md-4">
					<div class="page-title">      
				    <h3 class="reference">Ingrese su licencia</h3>
					</div>

					<form class="form-horizontal">
						<!-- TIPO DE LICENCIA -->
						<div class="form-group">				
							<label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
							<div class="col-sm-8">
								<select id="tipoLicencia" class="form-control">
									<option value="1">Vacaciones</option>
									<option value="2">Mudanza</option>
									<option value="3">Enfermedad</option>
									<option value="4">Lic. estudio</option>
								</select>
							</div>
						</div>
						
						<!-- FECHA DESDE -->
						<div class="form-group">				
							<label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
							<div class="col-sm-8">
								<div class="input-group date">								
									<input  id="fechaDesde" type="text" class="form-control input-append date" placeholder="dd/mm/yyyy">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
						
						<!-- FECHA HASTA -->
						<div class="form-group">
							<label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
							<div class="col-sm-8">
								<div class="input-group date">								
									<input  id="fechaHasta" type="text" class="form-control input-append date" placeholder="dd/mm/yyyy">
									<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
								</div>
							</div>
						</div>
					
						<!-- COMENTARIOS -->
						<div class="form-group">				
							<label for="tipoLicencia" class="col-sm-4 control-label">Comentarios:</label>
							<div class="col-sm-8">
								<textarea id="comentarios" class="form-control" rows="3"></textarea>
							</div>
						</div>
						
						<!-- BOTÓN INGRESAR -->
						<div class="form-group">
							<div class="col-sm-12">
								<button type="button" class="btn btn-primary btn-lg btn-block">Ingresar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<!-- REFERENCIAS	-->			
			<div class="row">
			
				<!-- TIPOS DE LICENCIA -->
				<div class="col-md-4">			
					<div class="page-title">      
				    <h4 class="reference">Tipos de licencia</h4>
					</div>					
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
								<th>Días gozados</th>
								<th>Máximos</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="references event-vacaciones">&nbsp;</div></td>
								<td>Vacaciones</td>
								<td class="right">7</td>
								<td class="right">14</td>
							</tr>
							<tr>
								<td><div class="references event-mudanza">&nbsp;</div></td>
								<td>Mudanza</td>
								<td class="right">2</td>
								<td class="right">2</td>
							</tr>
							<tr>
								<td><div class="references event-enfermedad">&nbsp;</div></td>
								<td>Enfermedad</td>
								<td class="right">1</td>
								<td class="right">5</td>
							</tr>
							<tr>
								<td><div class="references event-lic-estudio">&nbsp;</div></td>
								<td>Estudio</td>
								<td class="right">2</td>
								<td class="right">4</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- DIAS NO LABORABLES -->
				<div class="col-md-4">	
					<div class="page-title">      
				    <h4 class="reference">Días no laborables</h4>
					</div>				
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="dia hoy">&nbsp;</div></td>
								<td>Hoy</td>								
							</tr>
							<tr>
								<td><div class="dia weekend">&nbsp;</div></td>
								<td>Sáb. y Dom.</td>								
							</tr>
							<tr>
								<td><div class="dia holiday">&nbsp;</div></td>
								<td>Feriado Nacional por ####</td>								
							</tr>
							<tr>
								<td><div class="dia special">&nbsp;</div></td>
								<td>Día Internacional de AIG</td>							
							</tr>							
						</tbody>
					</table>	
				</div>
				
				<!-- ESTADOS DE APROBACIÓN -->
				<div class="col-md-4">			
					<div class="page-title">      
				    <h4 class="reference">Estados de aprobación</h4>
					</div>
				  <table class="table table-condensed">
						<thead>
							<tr>
								<th>Símbolo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="icon-reference icon-ok">&nbsp;</div></td>
								<td>Licencia aprobada</td>								
							</tr>
							<tr>
								<td><div class="icon-reference icon-wait">&nbsp;</div></td>
								<td>En espera de aprobación</td>								
							</tr>
							<tr>
								<td><div class="icon-reference icon-cancel">&nbsp;</div></td>
								<td>Licencia rechazada</td>							
							</tr>							
						</tbody>
					</table>	
				</div>
			</div>
			
			<script>
				$('.input-group.date').datepicker({
					format: 'dd/mm/yyyy',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					language: "es"
				});
			</script>