<div class="row" ng-init="init()">
  <br/>
  <div ng-include="'views/admin/menu.html'"></div>

	<div class="col-md-12">
	  <div class="page-title">      
	    <h3>Administración de Tipo de Licencias</h3>
		</div>		
		<br/>
		<div class="dataTables_wrapper form-inline">

      <div class="row">
        <div class="col-xs-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <label>Mostrar 
              <select class="form-control input-sm"
                ng-model="paginationRequest.pageSize"
                ng-change="loadPage()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> registros
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              Buscar:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0" ng-model="paginationRequest.term"/>
              <a class="btn btn-default" ng-click="loadPage(0)">Buscar</a>
            </label>
          </div>
        </div>
      </div>

			<table class="table table-striped table-bordered row-border hover">
        <thead>
            <tr>
                <th class="sorting" ng-class="paginationRequest.orderBy != 'nombre' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('nombre');">Nombre</th>
                <th>Cantidad</th>
                <th>Acumulable</th>
                <th class="sorting" ng-class="paginationRequest.orderBy != 'simbolo' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('simbolo');">Símbolo</th>
                <th class="sorting" ng-class="paginationRequest.orderBy != 'evento' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('evento');">Tipo de evento</th>
                <th>Adj. Oblig.</th>
                <th></th>
            </tr>
        </thead>        
        <tbody>
            <tr ng-repeat="tipoLicencia in paginationResponse.rows">
                <td>{{ tipoLicencia.nombre }}</td>
                <td>{{ tipoLicencia.cantidad }}</td>
                <td>
                    <span ng-show="tipoLicencia.acumulable">Si</span>
                    <span ng-hide="tipoLicencia.acumulable">No</span>
                </td>
                <td>{{ tipoLicencia.simbolo }}</td>
                <td>{{ tipoLicencia.event_class }}</td>
                <td>
                    <span ng-show="tipoLicencia.adjunto_obligatorio">Si</span>
                    <span ng-hide="tipoLicencia.adjunto_obligatorio">No</span>
                </td>
                <td>
                    <a class="btn btn-success" aria-label="Editar" ng-click="editar(tipoLicencia);" title="Editar">
                        Editar
                    </a>
                    <a class="btn btn-danger" aria-label="Eliminar" ng-click="borrar(tipoLicencia);" title="Eliminar">
                        Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
    	</table>

      <!-- PAGINATION -->
      <div class="row" ng-if="paginationResponse.totalCount">
        <div class="col-xs-6">
          <div class="dataTables_info">
            Mostrando registros del {{paginationResponse.rowsFrom + 1}} al {{paginationResponse.rowsTo + 1}} de un total de {{paginationResponse.totalCount}} registros
          </div>
        </div>
        <div class="col-xs-6">
          <div class="dataTables_paginate paging_full_numbers">
            <ul class="pagination">
              <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                <a class="first"
                  ng-click="loadPage(0);">
                  Primero
                </a>
              </li>
              <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                <a class="previous"
                  ng-click="loadPage(paginationRequest.page-1);">
                  Anterior
                </a>
              </li>
              <li>
              </li>

              <li ng-repeat="$page in paginationPages track by $page.v"
                ng-class="$page.v > -1 ? (paginationRequest.page == $page.v ? 'active' : '') : 'disabled'">
                <a ng-click="loadPage($page.v);">
                  {{$page.k}}
                </a>
              </li>

              <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                <a class="next" 
                  ng-click="loadPage(paginationRequest.page+1);">
                  Siguiente
                </a>
              </li>
              <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                <a class="last" 
                  ng-click="loadPage(paginationResponse.pagesCount - 1);">
                  Último
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
		</div>	
    <a class="btn btn-success" aria-label="Nuevo" ng-click="editar();">
      Nuevo Tipo de Licencia
    </a>
    <br/>
    <br/>
	</div>								
</div>
