<div class="row" ng-init="init()">
    <br />
    <div ng-include="'views/admin/menu.html'"></div>

    <div class="col-md-12">
        <div class="page-title">
            <h3>Licencias al dia de hoy</h3>
        </div>

        <br />


        <div class="row">
            <div class="col-md-8">
                <div class="input-group date">
                    <input type="text" class="form-control input-append date" placeholder="dd/mm/yyyy" ng-model="fecha">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-block" aria-label="Exportar" ng-click="descargar()" title="Exportar">
                    Exportar
                </a>
            </div>
        </div>

        <br />

        <div class="dataTables_wrapper form-inline">

            <div class="row">
                <div class="col-xs-6">
                    <div class="dataTables_length" id="DataTables_Table_0_length">
                        <label>
                            Mostrar
                            <select class="form-control input-sm"
                                    ng-model="paginationRequest.pageSize"
                                    ng-change="loadPage()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> registros
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                        <label>
                            Buscar:
                            <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0" ng-model="paginationRequest.term" />
                            <a class="btn btn-default" ng-click="loadPage(0)">Buscar</a>
                        </label>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered row-border hover">
                <thead>
                    <tr>
                        <th class="sorting" ng-class="paginationRequest.orderBy != 'legajo' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                            ng-click="setOrder('legajo');">Legajo</th>
                        <th class="sorting" ng-class="paginationRequest.orderBy != 'empleado' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                            ng-click="setOrder('empleado');">Empleado</th>
                        <th class="sorting" ng-class="paginationRequest.orderBy != 'sector' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                            ng-click="setOrder('sector');">Sector</th>
                        <th>Jefe</th>
                        <th class="sorting" ng-class="paginationRequest.orderBy != 'tipo_licencia' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                            ng-click="setOrder('tipo_licencia');">Tipo licencia</th>
                        <!--<th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_inicio' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                        ng-click="setOrder('fecha_inicio');">Fecha desde</th>
                    <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_fin' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                        ng-click="setOrder('fecha_fin');">Fecha hasta</th>
                    <th class="sorting" ng-class="paginationRequest.orderBy != 'empresa' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                        ng-click="setOrder('empresa');">Compañia</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in paginationResponse.rows">
                        <td>{{ item.legajo }}</td>
                        <td>{{ item.nombres }} {{ item.apellidos }}</td>
                        <td>{{ item.sector }}</td>
                        <td>{{ item.jefe_nombres }} {{ item.jefe_apellidos }}</td>
                        <td>{{ item.tipo_licencia }}</td>
                        <!--<td>{{ item.fecha_inicio | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ item.fecha_fin | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ item.empresa }}</td>-->
                    </tr>
                </tbody>
            </table>

            <!-- PAGINATION -->
            <div class="row" ng-if="paginationResponse.totalCount">
                <div class="col-xs-6">
                    <div class="dataTables_info">
                          Mostrando registros del {{paginationResponse.rowsFrom + 1}} al {{paginationResponse.rowsTo + 1}} de un total de {{paginationResponse.totalCount}} registros
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_full_numbers">
                        <ul class="pagination">
                            <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                                <a class="first"
                                   ng-click="loadPage(0);">
                                    Primero
                                </a>
                            </li>
                            <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                                <a class="previous"
                                   ng-click="loadPage(paginationRequest.page-1);">
                                    Anterior
                                </a>
                            </li>
                            <li>
                            </li>

                            <li ng-repeat="$page in paginationPages track by $page.v"
                                ng-class="$page.v > -1 ? (paginationRequest.page == $page.v ? 'active' : '') : 'disabled'">
                                <a ng-click="loadPage($page.v);">
                                    {{$page.k}}
                                </a>
                            </li>

                            <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                                <a class="next"
                                   ng-click="loadPage(paginationRequest.page+1);">
                                    Siguiente
                                </a>
                            </li>
                            <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                                <a class="last"
                                   ng-click="loadPage(paginationResponse.pagesCount - 1);">
                                    Último
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <br />
    </div>
</div>

<script>
	$('.input-group.date').datepicker({
		format: 'dd/mm/yyyy',
		weekStart: 1,
		autoclose: true,
		todayHighlight: true,
        language: "es",
        orientation: "top",
	});
</script>