<div class="row" ng-init="init()">
  <br/>
  <div ng-include="'views/admin/menu.html'"></div>

	<div class="col-md-12">
	  <div class="page-title">      
	    <h3>Administración de Feriados</h3>
		</div>		
		<br/>
		<div class="dataTables_wrapper form-inline">

      <div class="row">
        <div class="col-xs-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <label>Mostrar 
              <select class="form-control input-sm"
                ng-model="paginationRequest.pageSize"
                ng-change="loadPage()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> registros
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              Buscar:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0" ng-model="paginationRequest.term"/>
              <a class="btn btn-default" ng-click="loadPage(0)">Buscar</a>
            </label>
          </div>
        </div>
      </div>

			<table class="table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('fecha');">Fecha</th>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'nombre' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('nombre');">Nombre</th>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'simbolo' ? '' :
                      (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                    ng-click="setOrder('simbolo');">Símbolo</th>
            <th></th>
          </tr>
        </thead>        
        <tbody>
          <tr ng-repeat="feriado in paginationResponse.rows">
            <td>{{ feriado.fecha | date : 'dd/MM/yyyy' }}</td>
            <td>{{ feriado.nombre }}</td>
            <td>{{ feriado.simbolo }}</td>
            <td>
              <a class="btn btn-success" aria-label="Editar" ng-click="editar(feriado);" title="Editar">
                Editar
              </a>
              <a class="btn btn-danger" aria-label="Eliminar" ng-click="borrar(feriado);" title="Eliminar">
                Eliminar
              </a>
            </td>
          </tr>
        </tbody>
    	</table>
		</div>	
    <a class="btn btn-success" aria-label="Nuevo" ng-click="editar();">
      Nuevo Feriado
    </a>
    <br/>
    <br/>
	</div>								
</div>
