﻿<div class="row" ng-init="init()">
    <br />
    <div ng-include="'views/admin/menu.html'"></div>

    <div class="col-md-12">
        <div class="page-title">
            <h3>Notificaci&oacute;n de vacaciones por vencer</h3>
        </div>
        <br>
        <div ng-if="!enviado">
            <h4 class="label label-danger">Atención:</h4>
            <small>Usted está por llamar a un proceso que enviará mail a todos los empleados que tienen vacaciones a vencer al finalizar el período actual</small>
            <a class="btn btn-danger" ng-click="sendEmail();">
                Enviar Notificaci&oacute;n
            </a>
        </div>
        <div ng-if="hayErrores()">
            <br />
            <br />
            <table class="table table-striped table-bordered row-border hover">
                <caption class="alert alert-info">No se pudo enviar mail a las siguientes personas</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Legajo</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empleado in empleadosError">
                        <td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
                        <td>{{ empleado.legajo }}</td>
                        <td>{{ empleado.email }}</td>
                </tbody>
            </table>
        </div>
        <div ng-if="hayEnviosOk()">
            <br />
            <br />
            <table class="table table-striped table-bordered row-border hover">
                <caption class="alert alert-success">Se envió correctamente mail a las siguientes personas</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Legajo</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empleado in empleadosOk">
                        <td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
                        <td>{{ empleado.legajo }}</td>
                        <td>{{ empleado.email }}</td>
                </tbody>
            </table>
        </div>
        <div ng-if="enviando()">
            <h3 class="alert alert-danger">Se están procesando datos, por favor no cerrar ni recargar la página</h3>
        </div>
    </div>
</div>
