<div class="row" ng-init="init()">
  <br/>
  <div ng-include="'views/admin/menu.html'"></div>

	<div class="col-md-12">
	  <div class="page-title">      
          <h3>Administración de Empleados</h3>
		</div>		
		<br/>

		<div class="dataTables_wrapper form-inline">

      <div class="row">
        <div class="col-xs-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <label>Mostrar 
              <select class="form-control input-sm"
                ng-model="paginationRequest.pageSize"
                ng-change="loadPage()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> registros
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              Buscar:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0" ng-model="paginationRequest.term"/>
              <a class="btn btn-default" ng-click="loadPage(0)">Buscar</a>
            </label>
          </div>
        </div>
      </div>

			<table class="table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'nombre' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                ng-click="setOrder('nombre');">Nombre</th>              
            <th class="sorting" ng-class="paginationRequest.orderBy != 'legajo' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                ng-click="setOrder('legajo');">Legajo</th>
            <th>Sector</th>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_ingreso' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                ng-click="setOrder('fecha_ingreso');">Fec. Ingreso</th>
            <th>Jefe</th>
            <th class="sorting" ng-class="paginationRequest.orderBy != 'empresa' ? '' :
                  (paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
                ng-click="setOrder('empresa');">Compañia</th>
            <th>Acciones</th>
          </tr>
        </thead>        
        <tbody>
            <tr ng-repeat="empleado in paginationResponse.rows">
                <td>{{ empleado.nombres }} {{ empleado.apellidos }}</td>
                <td>{{ empleado.legajo }}</td>
                <td>{{ empleado.area.nombre }}</td>
                <td>{{ empleado.fechaIngreso | date : 'dd/MM/yyyy' }}</td>
                <td>{{ empleado.jefe.nombres }} {{ empleado.jefe.apellidos }}</td>
                <td>{{ empleado.empresa.nombre }}</td>
                <td>
                    <div style="width: 128px;">
                        <a href="#/licenciaEmpleado/{{ empleado.id }}" class="btn btn-success" aria-label="Licencias" title="Licencias">
                            <span class="glyphicon glyphicon-flag"></span>
                        </a>
                        <a class="btn btn-primary" aria-label="Editar" ng-click="editar(empleado);" ng-show="hasPermiso('usuario.editar')" title="Editar">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger" aria-label="Eliminar" ng-click="bajar(empleado);" ng-show="hasPermiso('usuario.editar')" title="Eliminar">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    	</table>

      <!-- PAGINATION -->
      <div class="row" ng-if="paginationResponse.totalCount">
        <div class="col-xs-6">
          <div class="dataTables_info">
            Mostrando registros del {{paginationResponse.rowsFrom + 1}} al {{paginationResponse.rowsTo + 1}} de un total de {{paginationResponse.totalCount}} registros
          </div>
        </div>
        <div class="col-xs-6">
          <div class="dataTables_paginate paging_full_numbers">
            <ul class="pagination">
              <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                <a class="first"
                  ng-click="loadPage(0);">
                  Primero
                </a>
              </li>
              <li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
                <a class="previous"
                  ng-click="loadPage(paginationRequest.page-1);">
                  Anterior
                </a>
              </li>
              <li>
              </li>

              <li ng-repeat="$page in paginationPages track by $page.v"
                ng-class="$page.v > -1 ? (paginationRequest.page == $page.v ? 'active' : '') : 'disabled'">
                <a ng-click="loadPage($page.v);">
                  {{$page.k}}
                </a>
              </li>

              <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                <a class="next" 
                  ng-click="loadPage(paginationRequest.page+1);">
                  Siguiente
                </a>
              </li>
              <li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
                <a class="last" 
                  ng-click="loadPage(paginationResponse.pagesCount - 1);">
                  Último
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

		</div>	
    <a class="btn btn-success" aria-label="Nuevo" ng-click="editar();" ng-show="hasPermiso('usuario.editar')">
      Nuevo Empleado
    </a>
    <br/>
    <br/>
	</div>								
</div>
