<div class="row" ng-init="init()">
	<div class="col-md-12">
	  <div class="page-title">      
	    <h3>Pendientes de aprobación</h3>
		</div>		
		<br>
		<div>
			<p class="text-danger"><strong>{{ message }}</strong></p>
			<br>


			<div class="dataTables_wrapper form-inline">
				<div class="row">
					<div class="col-xs-6">
						<div class="dataTables_length" id="DataTables_Table_0_length">
							<label>Mostrar 
								<select class="form-control input-sm"
									ng-model="paginationRequest.pageSize"
									ng-change="loadPage()">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select> registros
							</label>
						</div>
					</div>
					<div class="col-xs-6">
						<div id="DataTables_Table_0_filter" class="dataTables_filter">
							<label>
								Buscar:
								<input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0" ng-model="paginationRequest.term"/>
								<a class="btn btn-default" ng-click="loadPage(0)">Buscar</a>
							</label>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered row-border hover">
					<thead>
				        <tr>
				            <th>ID</th>
				            <!-- <th>Estado</th> -->
				            <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_solicitud' ? '' :
			            		(paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
			            		ng-click="setOrder('fecha_solicitud');">
				            	Fecha de pedido
				            </th>
				            <th class="sorting" ng-class="paginationRequest.orderBy != 'empleado' ? '' :
			            		(paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
			            		ng-click="setOrder('empleado');">
				            	Empleado
				            </th>
				            <th>Sector</th>
				            <th>Responsable</th>
				            <th>Tipo de licencia</th>
				            <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_desde' ? '' :
			            		(paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
			            		ng-click="setOrder('fecha_desde');">Fecha desde</th>
				            <th class="sorting" ng-class="paginationRequest.orderBy != 'fecha_hasta' ? '' :
			            		(paginationRequest.orderDirection == 'asc' ? 'sorting_asc' : 'sorting_desc')"
			            		ng-click="setOrder('fecha_hasta');">Fecha hasta</th>
				            <th>Cantidad días</th>
				            <th>Acciones</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr ng-repeat="licencia in paginationResponse.rows">
				            <td>{{ licencia.id }}</td>
				            <td>{{ licencia.fecha_solicitud | date : 'dd/MM/yyyy' }}</td>
				            <td>{{ licencia.empleado.nombres }} {{ licencia.empleado.apellidos }}</td>
				            <td>{{ licencia.empleado.area.nombre }}</td>
				            <td>
				            	<span ng-if="licencia.empleado.jefe.id">
				            		{{ licencia.empleado.jefe.nombres }} {{ licencia.empleado.jefe.apellidos }}
				            	</span>
				            </td>
				            <td>{{ licencia.tipo_licencia.nombre }}</td>
				            <td>{{ licencia.fecha_inicio | date : 'dd/MM/yyyy' }}</td>
				            <td>{{ licencia.fecha_fin | date : 'dd/MM/yyyy' }}</td>
				            <td>
				            	{{ licencia.cantidad }}
							</td>
				            <td>
                                <div style="width: 200px;">
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            aria-label="Editar"
                                            title="Editar"
                                            ng-click="editar(licencia)"
                                            ng-show="(licencia.estado == 'app_jefe' &&  hasPermiso('licencia.aprobar.rrhh'))">
                                        <!--ng-show="(licencia.estado == 'pendiente' && (hasPermiso('licencia.aprobar.jefe') || hasPermiso('licencia.aprobar.rrhh'))) || (licencia.estado == 'app_jefe' && hasPermiso('licencia.aprobar.rrhh'))">-->
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-success btn-sm"
                                            aria-label="Descargar"
                                            title="Descargar"
                                            ng-click="download(licencia)"
                                            ng-show="licencia.adjunto_nombre">
                                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-success btn-sm"
                                            aria-label="Aprobar"
                                            title="Aprobar"
                                            ng-click="confirmAprove(licencia)"
                                            ng-show="(licencia.estado == 'app_jefe' && hasPermiso('licencia.aprobar.rrhh'))">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            aria-label="Rechazar"
                                            title="Rechazar"
                                            ng-click="confirmReject(licencia)"
                                            ng-show="(licencia.estado == 'app_jefe' && hasPermiso('licencia.aprobar.rrhh'))">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-success btn-sm"
                                            aria-label="Aprobar"
                                            title="Aprobar"
                                            ng-click="confirmAprove(licencia)"
                                            ng-show="(licencia.estado == 'pendiente' && (hasPermiso('licencia.aprobar.jefe') || hasPermiso('licencia.aprobar.rrhh')))">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm"
                                            aria-label="Rechazar"
                                            title="Rechazar"
                                            ng-click="confirmReject(licencia)"
                                            ng-show="(licencia.estado == 'pendiente' && (hasPermiso('licencia.aprobar.jefe') || hasPermiso('licencia.aprobar.rrhh')))">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-sm pop-info"
                                            data-placement="left"
                                            aria-label="Informacion"
                                            title="Información"
                                            popover-template="userInfoPopover.templateUrl"
                                            popover-title="{{userInfoPopover.title}}"
                                            ng-click="setPopoverContent(licencia);">
                                        <span aria-hidden="true"><strong>&nbsp;i&nbsp;</strong></span>
                                    </button>
                                </div>
				            </td>
				        </tr>
			        </tbody>
				</table>

				<!-- PAGINATION -->
				<div class="row" ng-if="paginationResponse.totalCount">
					<div class="col-xs-6">
						<div class="dataTables_info">
							Mostrando registros del {{paginationResponse.rowsFrom + 1}} al {{paginationResponse.rowsTo + 1}} de un total de {{paginationResponse.totalCount}} registros
						</div>
					</div>
					<div class="col-xs-6">
						<div class="dataTables_paginate paging_full_numbers">
							<ul class="pagination">
								<li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
									<a class="first"
										ng-click="loadPage(0);">
										Primero
									</a>
								</li>
								<li ng-class="paginationResponse.page == 0 ? 'disabled' : ''">
									<a class="previous"
										ng-click="loadPage(paginationRequest.page-1);">
										Anterior
									</a>
								</li>
								<li>
								</li>

								<li ng-repeat="$page in paginationPages track by $page.v"
									ng-class="$page.v > -1 ? (paginationRequest.page == $page.v ? 'active' : '') : 'disabled'">
									<a ng-click="loadPage($page.v);">
										{{$page.k}}
									</a>
								</li>

								<li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
									<a class="next" 
										ng-click="loadPage(paginationRequest.page+1);">
										Siguiente
									</a>
								</li>
								<li ng-class="paginationResponse.page == paginationResponse.pagesCount - 1 ? 'disabled' : ''">
									<a class="last" 
										ng-click="loadPage(paginationResponse.pagesCount - 1);">
										Último
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>	
	</div>								
</div>
