<div id="popover_content_wrapper">
	<div style="height:300px;width:250px;overflow-y: auto;overflow-x: hidden;">
		<h4>Vacaciones</h4>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Per.</th>
					<th>Asig.</th>
					<th>Goz.</th>
					<th>Disp.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tipoLicencia in userInfoPopover.content.vacaciones | orderBy:'periodo.nombre'"
					ng-if="userInfoPopover.content.empleado.fechaIngreso <= tipoLicencia.periodo.fechaFin && tipoLicencia.cantidadDisponible > 0">
						<td>{{tipoLicencia.periodo.nombre}}</td>
						<td class="right">
							{{ tipoLicencia.cantidadOriginal }}
						</td>
						<td class="right">{{tipoLicencia.cantidadUtilizada}}</td>
						<td class="right">{{tipoLicencia.cantidadDisponible}}</td>
					</tr>
			</tbody>
		</table>	

		<h4>Otras licencias</h4>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Tipo Licencia </th>								
					<th>Dias gozados</th>
					<!--th>Máx.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th-->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tipoLicencia in userInfoPopover.content.otras" ng-if="tipoLicencia.simbolo != 'event-vacaciones'">
					<td>{{ tipoLicencia.nombre }}</td>
					<td>{{ tipoLicencia.cantidadUtilizada }}</td>
					<!-- td>
						<span ng-show="tipoLicencia.cantidadEspecial > -1">
							{{ tipoLicencia.cantidadEspecial }}
						</span>
						<span ng-hide="tipoLicencia.cantidadEspecial > -1">
							{{ tipoLicencia.cantidadOriginal }}
						</span>
					</td -->
				</tr>
			</tbody>
		</table>	
	</div>
</div>