<div class="modal-content" ng-init="init();">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="formModal">
      Delegar aprobación
    </h4>
  </div>
  <div class="modal-body">
    <form id="delegarForm" name="empleadoForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" ng-if="hasPermiso('licencia.aprobar.rrhh')">        
            <label for="tipo_licencia_id" class="col-sm-4 control-label">Jefe:</label>
            <div class="col-sm-8">
              {{ jefe.nombres }} {{ jefe.apellidos }} 
              <a href="javascript:void(0);" 
                class="btn btn-default pull-right" 
                ng-click="elegirJefe();">
                Elegir
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="tipo_licencia_id" class="col-sm-4 control-label">Delegado:</label>
            <div class="col-sm-8">
              {{ delegado.nombres }} {{ delegado.apellidos }} 
              <a href="javascript:void(0);" 
                class="btn btn-default pull-right" 
                ng-click="elegirDelegado();">
                Elegir
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="delegar();" ng-disabled="empleadoForm.$invalid" >Delegar</button>
    <button type="button" class="btn btn-danger" ng-click="deshacer();" ng-disabled="empleadoForm.$invalid" ng-show="wasDelegado">Deshacer</button>
  </div>
</div>