<div class="modal-content" ng-init="init();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="formModal">
			Editar licencia de {{ licencia.empleado.nombres }} {{ licencia.empleado.apellidos }}
		</h4>
	</div>
    <div class="modal-body">
        <form id="licenciaForm" name="licenciaForm">
            <div class="row">
                <!-- TIPO DE LICENCIA -->
                <div class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               ng-model="licencia.tipo_licencia.nombre"
                               readonly />
                    </div>
                </div>

                <!-- FECHA DESDE -->
                <div class="form-group">
                    <label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input type="text"
                                   class="form-control"
                                   ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
                                   ng-model="licencia.fecha_inicio" />
                        </div>
                    </div>
                </div>

                <!-- FECHA HASTA -->
                <div class="form-group">
                    <label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input type="text"
                                   class="form-control"
                                   ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
                                   ng-model="licencia.fecha_fin"
                                   ng-required />

                        </div>
                    </div>
                </div>

                <!-- ADJUNTO -->
                <div class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Adjunto:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input class="form-control input-append" readonly ng-model="licencia.adjunto_nombre" />
                            <span class="input-group-addon btn btn-danger" ng-show="licencia.adjunto_id" ng-click="doClear()">
                                <i class="glyphicon glyphicon-trash"></i>
                            </span>
                            <span class="input-group-addon btn btn-default btn-file" ng-hide="licencia.adjunto_id">
                                ...<input name="myFile" upload-file="myFile" type="file" callback-fn="doUpload(arg1)" />
                            </span>
                        </div>
                    </div>
                </div>

                <!-- COMENTARIOS -->
                <div class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios empleado:</label>
                    <div class="col-sm-8">
                        <textarea ng-if="licencia.notas_empleado.length"
                                  readonly
                                  type="text"
                                  class="form-control"
                                  ng-model="licencia.notas_empleado">
                        </textarea>
                        <p ng-if="!licencia.notas_empleado.length">No hay comentarios del empleado</p>
                    </div>
                </div>

                <div
                     class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios Jefe:</label>
                    <div class="col-sm-8">
                        <textarea ng-if="licencia.aprobador_jefe_notas.length"
                                  readonly
                                  type="text"
                                  class="form-control"
                                  ng-model="licencia.aprobador_jefe_notas">
                        </textarea>
                        <p ng-if="!licencia.aprobador_jefe_notas.length">No hay comentarios del Jefe</p>
                    </div>
                </div>

                <div
                     class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios RRHH:</label>
                    <div class="col-sm-8">
                        <textarea type="text"
                                  class="form-control"
                                  ng-model="licencia.aprobador_rrhh_notas">
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="guardar();" ng-disabled="licenciaForm.$invalid" >Guardar</button>
	</div>
</div>