﻿<div class="modal-content" ng-init="init();">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="formModal">
            Rechazar licencia de {{ licencia.empleado.nombres }} {{ licencia.empleado.apellidos }}
        </h4>
    </div>
    <div class="modal-body">
        <form id="licenciaForm" name="licenciaForm">
            <div class="row">
                <!-- TIPO DE LICENCIA -->
                <div class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Tipo de licencia:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               ng-model="licencia.tipo_licencia.nombre"
                               readonly />
                    </div>
                </div>


                <!-- COMENTARIOS -->
                <div class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios empleado:</label>
                    <div class="col-sm-8">
                        <textarea ng-if="licencia.notas_empleado.length"
                                  ng-disabled="licencia.estado == 'app_jefe' || licencia.estado == 'pendiente'"
                                  type="text"
                                  class="form-control"
                                  ng-model="licencia.notas_empleado">
                        </textarea>
                        <p ng-if="!licencia.notas_empleado.length">No hay comentarios del empleado</p>
                    </div>
                </div>

                <div ng-if="(licencia.estado == 'pendiente' && (hasPermiso('licencia.aprobar.jefe') || hasPermiso('licencia.aprobar.rrhh')))"
                     class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios Jefe:</label>
                    <div class="col-sm-8">
                        <textarea ng-disabled="licencia.estado == 'app_jefe'"
                                  type="text"
                                  class="form-control"
                                  ng-model="licencia.aprobador_jefe_notas">
                        </textarea>
                    </div>
                </div>

                <div ng-if="(licencia.estado == 'app_jefe' && hasPermiso('licencia.aprobar.rrhh'))"
                     class="form-group">
                    <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios RRHH:</label>
                    <div class="col-sm-8">
                        <textarea type="text"
                                  class="form-control"
                                  ng-model="licencia.aprobador_rrhh_notas">
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="reject();" ng-disabled="licenciaForm.$invalid">Confirmar</button>
    </div>
</div>