<div class="row" ng-init="init()">
    <!-- CALENDAR -->
    <div class="col-md-8">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h2>Calendario de Licencias</h2>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h5 ng-show="empleado != null" class="text-right">
                        {{ empleado.nombres }} {{ empleado.apellidos }}
                    </h5>
                </div>
            </div>
        </div>
        <div id="calendar"
             ui-calendar="uiConfig.calendar"
             ng-model="eventSources"></div>
    </div>

    <!-- FORMULARIO -->
    <div class="col-md-4" ng-show="currentlicencia">
        <div class="page-title">
            <h3 class="reference">Ingrese su licencia</h3>
        </div>

        <form class="form-horizontal" id="licenciaForm" name="licenciaForm">
            <!-- TIPO DE LICENCIA -->
            <div ng-if="hasPermiso('licencia.aprobar.rrhh')">
                <div class="form-group">
                    <label for="tipo_licencia_id" class="col-sm-4 control-label">Empleado:</label>
                    <div class="col-sm-8">
                        {{ empleado.nombres }} {{ empleado.apellidos }}
                        <a href="javascript:void(0);"
                           class="btn btn-default pull-right"
                           ng-click="elegirEmpleado();">
                            Elegir
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="tipo_licencia_id" class="col-sm-4 control-label">Tipo de licencia:</label>
                <div class="col-sm-8">
                    <select id="tipo_licencia_id"
                            class="form-control"
                            ng-options="tipoLicencia as tipoLicencia.nombre for tipoLicencia in tipoLicencias | orderBy:'nombre'"
                            ng-model="currentlicencia.tipo_licencia"
                            required></select>
                </div>
            </div>
            <div class="alert alert-info"
                 role="alert"
                 ng-show="currentlicencia.tipo_licencia.nombre == 'Estudio'">
                <strong>Nota:</strong> Recuerde que debe presentar certificado a
                recursos Humanos.
            </div>
            <div ng-if="currentlicencia.superponible" class="form-group">
                <label for="tipo_rp_id" class="col-sm-4 control-label">Tipo de RP:</label>
                <div class="col-sm-8">
                    <select id="tipo_rp_id"
                            class="form-control"
                            ng-options="tipoRP as tipoRP.nombre for tipoRP in tipoRP"
                            ng-model="currentlicencia.tipo_rp"
                            required></select>
                </div>
            </div>
            <!-- FECHA DESDE -->
            <div class="form-group">
                <label for="fechaDesde" class="col-sm-4 control-label">Fecha desde:</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input type="text"
                               class="form-control input-append date"
                               placeholder="dd/mm/yyyy"
                               ng-model="currentlicencia.fecha_inicio" />
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-th"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- FECHA HASTA -->
            <div class="form-group">
                <label for="fechaHasta" class="col-sm-4 control-label">Fecha hasta:</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="fechaHasta"
                               type="text"
                               class="form-control input-append date"
                               placeholder="dd/mm/yyyy"
                               ng-model="currentlicencia.fecha_fin"
                               required />
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-th"></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- COMENTARIOS -->
            <div class="form-group">
                <label for="tipoLicencia" class="col-sm-4 control-label">Comentarios:</label>
                <div class="col-sm-8">
                    <textarea id="comentarios"
                              class="form-control"
                              rows="3"
                              ng-model="currentlicencia.notas_empleado"></textarea>
                </div>
            </div>

            <!-- ADJUNTOS -->
            <div class="form-group"
                 ng-hide="!currentlicencia.tipo_licencia.adjuntoObligatorio">
                <label for="tipoLicencia" class="col-sm-4 control-label">Adjunto:</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control input-append"
                               readonly
                               ng-model="currentlicencia.adjunto_nombre" />
                        <span class="input-group-addon btn btn-primary"
                              ng-show="currentlicencia.id && currentlicencia.adjunto_id && !fileChange"
                              ng-click="doDownload()">
                            <i class="glyphicon glyphicon-download"></i>
                        </span>
                        <span class="input-group-addon btn btn-danger"
                              ng-show="currentlicencia.adjunto_id"
                              ng-click="doClear()"
                              ng-disabled="(currentlicencia.adjunto_estado !== 'pendiente' && currentlicencia.adjunto_estado !== 'rechazado') || currentlicencia.estado === 'rechazado'">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                        <span class="input-group-addon btn btn-default btn-file"
                              ng-hide="currentlicencia.adjunto_id"
                              ng-disabled="currentlicencia.adjunto_estado && currentlicencia.adjunto_estado !== 'pendiente'">
                            ...
                            <input name="myFile"
                                   upload-file="myFile"
                                   type="file"
                                   callback-fn="doUpload(arg1)" />
                        </span>
                    </div>
                </div>
            </div>

            <!-- BOTÓN INGRESAR -->
            <div class="form-group">
                <div class="col-sm-12">
                    <button ng-hide="currentlicencia.id"
                            type="button"
                            class="btn btn-primary btn-lg btn-block"
                            ng-click="guardarLicencia()"
                            ng-disabled="licenciaForm.$invalid">
                        <span>Ingresar</span>
                    </button>
                    <button ng-show="currentlicencia.id"
                            type="button"
                            class="btn btn-primary btn-lg btn-block"
                            ng-click="modificarLicencia()"
                            ng-disabled="licenciaForm.$invalid || currentlicencia.estado !== 'pendiente'">
                        <span>Modificar</span>
                    </button>
                </div>
                <div class="col-sm-12" ng-show="currentlicencia.id">
                    <br />
                    <button type="button"
                            class="btn btn-danger btn-lg btn-block"
                            ng-click="borrarLicencia()"
                            ng-disabled="licenciaForm.$invalid || (currentlicencia.estado !== 'pendiente')">
                        Eliminar
                    </button>
                </div>
                <div class="col-sm-12">
                    <br />
                    <button type="button"
                            class="btn btn-default btn-lg btn-block"
                            ng-click="currentlicencia = null">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- REFERENCIAS	-->
<div class="row">
    <!-- VACACIONES -->
    <div class="col-md-8">
        <div class="page-title">
            <div class="references event-vacaciones">
                <h4 class="reference" style="margin-left: 80px">Vacaciones</h4>
            </div>
        </div>
        <div ng-if="!misVacacionesHistorico.some(tieneCantidadDisponible)">
            <h5>Usted no posee d&iacute;as de vacaciones disponibles</h5>
        </div>
        <table ng-if="misVacacionesHistorico.some(tieneCantidadDisponible)"
               class="table table-condensed">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Descripción</th>
                    <th class="right">Asignados</th>
                    <th class="right">Gozados</th>
                    <th class="right">Pendientes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipoLicencia in misVacacionesHistorico | orderBy:'periodo.nombre'"
                    ng-if="empleado.fechaIngreso <= tipoLicencia.periodo.fechaFin && tipoLicencia.cantidadDisponible > 0">
                    <td>{{tipoLicencia.periodo.nombre}}</td>
                    <td>{{tipoLicencia.nombre}}</td>
                    <td class="right">{{ tipoLicencia.cantidadOriginal }}</td>
                    <td class="right">{{tipoLicencia.cantidadUtilizada}}</td>
                    <td class="right">{{tipoLicencia.cantidadDisponible}}</td>
                </tr>
                <tr ng-if="saldo.cantidadDisponible > 0">
                    <td>2018</td>
                    <td>{{saldo.nombre}}</td>
                    <td class="right">{{saldo.cantidadOriginal}}</td>
                    <td class="right">{{saldo.cantidadUtilizada}}</td>
                    <td class="right">{{saldo.cantidadDisponible}}</td>
                </tr>
            </tbody>
        </table>

        <!-- OTRAS LICENCIAS -->

        <div class="page-title">
            <h4 class="reference">Otras licencias</h4>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Símbolo</th>
                    <th>Descripción</th>
                    <th class="right">Asignados</th>
                    <th class="right">Gozados</th>
                    <th class="right">Pendientes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipoLicencia in misTipoLicencias | orderBy:'nombre'"
                    ng-if="['event-tarde', 'event-anticipado', 'event-lic-estudio', 'event-lic-estudio2', 'event-raz-particular'].includes(tipoLicencia.simbolo)">
                    <td><div class="references {{tipoLicencia.simbolo}}">&nbsp;</div></td>
                    <td>{{tipoLicencia.nombre}}</td>
                    <td class="right">{{tipoLicencia.cantidadOriginal}}</td>
                    <td class="right">{{tipoLicencia.cantidadUtilizada}}</td>
                    <td class="right">{{tipoLicencia.cantidadDisponible}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ESTADOS DE APROBACIÓN -->
    <div class="col-md-4">
        <div class="page-title">
            <h4 class="reference">Estados de aprobación</h4>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Símbolo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="icon-reference icon-pre">&nbsp;</div></td>
                    <td>Licencia aprobada por jefe</td>
                </tr>
                <tr>
                    <td><div class="icon-reference icon-ok">&nbsp;</div></td>
                    <td>Licencia aprobada</td>
                </tr>
                <tr>
                    <td><div class="icon-reference icon-wait">&nbsp;</div></td>
                    <td>En espera de aprobación</td>
                </tr>
                <tr>
                    <td><div class="icon-reference icon-cancel">&nbsp;</div></td>
                    <td>Licencia rechazada</td>
                </tr>
            </tbody>
        </table>

        <!-- DÍAS NO LABORABLES -->
        <div class="page-title">
            <h4 class="reference">Días no laborables</h4>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Símbolo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="dia hoy">&nbsp;</div></td>
                    <td>Hoy</td>
                </tr>
                <tr>
                    <td><div class="dia weekend">&nbsp;</div></td>
                    <td>Sáb. y Dom.</td>
                </tr>
                <tr>
                    <td><div class="dia holiday">&nbsp;</div></td>
                    <td>Feriado Nacional</td>
                </tr>
            </tbody>
        </table>

        <div class="page-title">
            <h4 class="reference">Tipos de licencia</h4>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Símbolo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tipoLicencia in misTipoLicencias | orderBy:'nombre'">
                    <td><div class="references {{tipoLicencia.simbolo}}">&nbsp;</div></td>
                    <td>{{tipoLicencia.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(".input-group.date").datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,
        autoclose: true,
        todayHighlight: true,
        language: "es",
    });
</script>
