<img class="img-responsive img-center" src="img/logo_big.png">

<!-- Content Section -->
<section class="alpha60">
	<div class="container" style="padding:0px;">
		<div class="row content">
			<div class="col-md-6">
				<form class="form-signin">
					<h4 class="form-signin-heading">Por favor ingrese sus credenciales</h4>
					<input type="username" id="username" class="form-control" placeholder="Usuario" required autofocus ng-model="username" ng-change="username = username.toUpperCase()">
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password" ng-keydown="$event.keyCode === 13 && login()">
					<a href="#" class="btn btn-lg btn-primary btn-block" ng-click="login()">Ingresar</a>
				</form>
			</div>
			
			<div class="col-md-12">
				<h1 class="section-heading animated fadeInDown" >SISTEMA DE GESTIÓN DE LICENCIAS</h1>
			</div>
		</div>
	</div>
</section>