<div>
	<!-- Header 
  <div id="header">
		<nav class="navbar navbar-default navbar-fixed-top" bs-navbar>
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="logo"></div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					
				</div>
			</div>
		</nav>
  </div>-->
	<style>
	
		body {
				margin-top: 60px; 
				background: url(../app/img/vacaciones.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				font-family:"Trebuchet MS", Helvetica, sans-serif
		}

		.image-bg-fluid-height,
		.image-bg-fixed-height {
				text-align: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
				-o-background-size: cover;
		}

		.image-bg-fluid-height {
			background: url('../img/vacaciones.jpg') no-repeat center center scroll;
				padding: 100px 0;
		}

		.image-bg-fixed-height {
			background: url('../img/vacaciones.jpg') no-repeat center center scroll;
			height: 450px;
		}

		.img-center {
			margin: 0 auto;
		}

		section {
			margin-top: 60px;
			padding: 0px;
			background-color:#000;
			color:#fff;
		}

		.section-heading {
			margin: 30px 0;
			font-size: 3em;
			opacity:1;
		}

		.section-lead {
			margin: 30px 0;
		}

		.section-paragraph {
			margin: 30px 0;
		}

		footer {
			margin: 50px 0;
		}

		.alpha60 {
			/* Fallback for web browsers that don't support RGBa */
			background-color: rgb(0, 0, 0);
			/* RGBa with 0.6 opacity */
			background-color: rgba(0, 0, 0, 0.6);
			/* For IE 5.5 - 7*/
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
			/* For IE 8*/
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
		}


		.panel-default {
			margin-top:20px;
			color:#222222	;
		}

		@media(max-width:768px) {
				section {
						padding-top: 25px;
						padding-bottom: 25px;
				}

				.section-heading {
						font-size: 2em;
				}
		}

		@media(max-width:992px) {

				.content{
					text-align:center;
				}
		}

		.text{	
			-webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			-ms-animation-delay: 1s;
		}

		.content{

		}

		/**** FORM ****/

		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading {
			margin-bottom: 10px;
		}

		.form-signin .form-control {
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	</style>
  <!-- Content -->
  <div id="content" ui-view></div>
		
	<!-- Footer
  <footer id="footer" class="footer">
		<div class="container-fluid">
      <p class="text-muted"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Licencias</p>
    </div>
  </footer> -->
      
</div>
