﻿<!-- Content Section -->
<section class="alpha60">
    <div class="container" style="padding:0px;">
        <div class="row content">
            <div class="col-md-6">
                <form class="form-signin">
                    <h4 class="form-signin-heading">Elija el empleado a modificar contrase&ntilde;a</h4>
                    <div class="form-group">
                        <label for="nombre_empleado" class="col-sm-4 control-label">Empleado:</label>
                        <div class="col-sm-8">
                            <span id="nombre_empleado" ng-if="empleado!=null">{{ empleado.nombres }} {{ empleado.apellidos }}</span>
                            <a href="javascript:void(0);"
                               class="btn btn-default pull-right"
                               ng-click="elegirEmpleado();">
                                Elegir
                            </a>
                        </div>
                    </div>
                    <div ng-if="empleado!=null">
                        <label for="inputPassword">contrase&ntilde;a</label>
                        <input id="inputPassword"
                               class="form-control"
                               placeholder="Password" required
                               ng-model="password">
                        <label for="inputConfirmPassword">Confirmar contrase&ntilde;a</label>
                        <input
                                id="inputConfirmPassword" class="form-control" placeholder="Confirmar Password" required
                                ng-model="confirmPassword">
                        <a href="#" class="btn btn-lg btn-primary btn-block"
                           ng-click=" password === confirmPassword && changePassword(password)">Modificar contrase&ntilde;a</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>